Table as_ 22_q: Arrivals, and requests for transfer into the UK under the Dublin Regulation, by article and country of transfer

In [1]:
def is_interactive():
    import __main__ as main
    return not hasattr(main, '__file__')

if is_interactive():
    %run lib/scrape_govuk.ipynb
    metadata = scrape('https://www.gov.uk/government/statistics/immigration-statistics-october-to-december-2017-data-tables')
    import pyexcel
    from io import BytesIO

    ods_files = [f for f in metadata['files']
                 if f['type'] == 'ODS' and
                 f['title'] == 'Asylum data tables immigration statistics October to December 2017 volume 5']
    assert len(ods_files) == 1, 'Should be exactly one matching ODS file'

    ods_url = ods_files[0]['url']
    ods_title = ods_files[0]['title']

    ods_file = BytesIO(session.get(ods_files[0]['url']).content)

    data = pyexcel.get_sheet(file_content=ods_file, file_type='ods', sheet_name='as_22_q')

In [2]:
df = pd.DataFrame(data.get_array())
df

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,"Table as_ 22_q: Arrivals, and requests for tra...",,,,,,,,,,...,,,,,,,,,,
1,Back to contents,,,,,,,,,,...,,,,,,,,,,
2,,,,,,,,,,,...,,,,,,,,,,
3,Quarter,Country Transferred from,Total arrivals into the UK,Arrivals into UK: article 8.1,Arrivals into UK: article 8.2,Arrivals into UK: article 9,Arrivals into UK: article 10,Arrivals into UK: article 11,Arrivals into UK: article 12,Arrivals into UK: article 13,...,Requests for transfer into UK: article 10,Requests for transfer into UK: article 11,Request for transfer into UK: article 12,Requests for transfer into UK: article 13,Requests for transfer into UK: article 14,Requests for transfer into UK: article 15,Request for transfer into UK: article 16,Request for transfer into UK: article 17.2,Request for transfer into UK: article 18.1,Request for transfer into UK: article 20.5
4,2015 Q1,*Total,41,1,7,0,0,0,6,0,...,1,2,101,2,1,0,3,7,169,10
5,2015 Q1,Austria,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,8,0
6,2015 Q1,Belgium,1,0,0,0,0,0,0,0,...,0,1,2,0,0,0,0,0,4,0
7,2015 Q1,Bulgaria,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,16,0
8,2015 Q1,Croatia,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,2015 Q1,Cyprus,2,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,2015 Q1,Czech Republic,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,2015 Q1,Denmark,2,0,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,4,0
12,2015 Q1,Estonia,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,2015 Q1,Finland,2,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,7,0
14,2015 Q1,France,5,0,0,0,0,0,3,0,...,0,0,0,0,0,0,0,0,40,10
15,2015 Q1,Germany,4,0,0,0,0,0,0,0,...,0,0,2,0,1,0,0,0,27,0
16,2015 Q1,Greece,5,0,2,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
17,2015 Q1,Hungary,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,2015 Q1,Iceland,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,2015 Q1,Ireland,3,1,1,0,0,0,0,0,...,0,0,91,2,0,0,2,0,17,0
20,2015 Q1,Italy,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,19,0
21,2015 Q1,Latvia,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,2015 Q1,Liechtenstein,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,2015 Q1,Lithuania,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,2015 Q1,Luxembourg,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,2015 Q1,Malta,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,2015 Q1,Netherlands,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
27,2015 Q1,Norway,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,0
28,2015 Q1,Poland,1,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,4,0,0
29,2015 Q1,Portugal,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525,,,,,,,,,,,...,,,,,,,,,,
526,,,,,,,,,,,...,,,,,,,,,,
527,,,,,,,,,,,...,,,,,,,,,,
528,,,,,,,,,,,...,,,,,,,,,,
529,,,,,,,,,,,...,,,,,,,,,,
530,,,,,,,,,,,...,,,,,,,,,,
531,,,,,,,,,,,...,,,,,,,,,,
532,,,,,,,,,,,...,,,,,,,,,,
533,,,,,,,,,,,...,,,,,,,,,,
534,,,,,,,,,,,...,,,,,,,,,,
535,,,,,,,,,,,...,,,,,,,,,,
536,,,,,,,,,,,...,,,,,,,,,,
537,,,,,,,,,,,...,,,,,,,,,,
538,,,,,,,,,,,...,,,,,,,,,,
539,,,,,,,,,,,...,,,,,,,,,,
540,,,,,,,,,,,...,,,,,,,,,,
541,,,,,,,,,,,...,,,,,,,,,,
542,,,,,,,,,,,...,,,,,,,,,,
543,,,,,,,,,,,...,,,,,,,,,,
544,,,,,,,,,,,...,,,,,,,,,,
545,,,,,,,,,,,...,,,,,,,,,,
546,,,,,,,,,,,...,,,,,,,,,,
547,,,,,,,,,,,...,,,,,,,,,,
548,,,,,,,,,,,...,,,,,,,,,,
549,,,,,,,,,,,...,,,,,,,,,,
550,,,,,,,,,,,...,,,,,,,,,,
551,,,,,,,,,,,...,,,,,,,,,,
552,,,,,,,,,,,...,,,,,,,,,,
553,,,,,,,,,,,...,,,,,,,,,,
554,,,,,,,,,,,...,,,,,,,,,,

In [3]:
observations = df.iloc[2:, :]
observations.rename(columns= observations.iloc[1], inplace=True)
observations.drop(observations.index[0])

/home/alex/.virtualenvs/databaker/lib/python3.6/site-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

,Quarter,Country Transferred from,Total arrivals into the UK,Arrivals into UK: article 8.1,Arrivals into UK: article 8.2,Arrivals into UK: article 9,Arrivals into UK: article 10,Arrivals into UK: article 11,Arrivals into UK: article 12,Arrivals into UK: article 13,...,Requests for transfer into UK: article 10,Requests for transfer into UK: article 11,Request for transfer into UK: article 12,Requests for transfer into UK: article 13,Requests for transfer into UK: article 14,Requests for transfer into UK: article 15,Request for transfer into UK: article 16,Request for transfer into UK: article 17.2,Request for transfer into UK: article 18.1,Request for transfer into UK: article 20.5
3,Quarter,Country Transferred from,Total arrivals into the UK,Arrivals into UK: article 8.1,Arrivals into UK: article 8.2,Arrivals into UK: article 9,Arrivals into UK: article 10,Arrivals into UK: article 11,Arrivals into UK: article 12,Arrivals into UK: article 13,...,Requests for transfer into UK: article 10,Requests for transfer into UK: article 11,Request for transfer into UK: article 12,Requests for transfer into UK: article 13,Requests for transfer into UK: article 14,Requests for transfer into UK: article 15,Request for transfer into UK: article 16,Request for transfer into UK: article 17.2,Request for transfer into UK: article 18.1,Request for transfer into UK: article 20.5
4,2015 Q1,*Total,41,1,7,0,0,0,6,0,...,1,2,101,2,1,0,3,7,169,10
5,2015 Q1,Austria,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,8,0
6,2015 Q1,Belgium,1,0,0,0,0,0,0,0,...,0,1,2,0,0,0,0,0,4,0
7,2015 Q1,Bulgaria,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,16,0
8,2015 Q1,Croatia,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,2015 Q1,Cyprus,2,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,2015 Q1,Czech Republic,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,2015 Q1,Denmark,2,0,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,4,0
12,2015 Q1,Estonia,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,2015 Q1,Finland,2,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,7,0
14,2015 Q1,France,5,0,0,0,0,0,3,0,...,0,0,0,0,0,0,0,0,40,10
15,2015 Q1,Germany,4,0,0,0,0,0,0,0,...,0,0,2,0,1,0,0,0,27,0
16,2015 Q1,Greece,5,0,2,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
17,2015 Q1,Hungary,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,2015 Q1,Iceland,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,2015 Q1,Ireland,3,1,1,0,0,0,0,0,...,0,0,91,2,0,0,2,0,17,0
20,2015 Q1,Italy,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,19,0
21,2015 Q1,Latvia,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,2015 Q1,Liechtenstein,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,2015 Q1,Lithuania,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,2015 Q1,Luxembourg,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,2015 Q1,Malta,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,2015 Q1,Netherlands,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
27,2015 Q1,Norway,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,0
28,2015 Q1,Poland,1,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,4,0,0
29,2015 Q1,Portugal,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,2015 Q1,Romania,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
31,2015 Q1,Slovakia,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32,2015 Q1,Slovenia,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525,,,,,,,,,,,...,,,,,,,,,,
526,,,,,,,,,,,...,,,,,,,,,,
527,,,,,,,,,,,...,,,,,,,,,,
528,,,,,,,,,,,...,,,,,,,,,,
529,,,,,,,,,,,...,,,,,,,,,,
530,,,,,,,,,,,...,,,,,,,,,,
531,,,,,,,,,,,...,,,,,,,,,,
532,,,,,,,,,,,...,,,,,,,,,,
533,,,,,,,,,,,...,,,,,,,,,,
534,,,,,,,,,,,...,,,,,,,,,,
535,,,,,,,,,,,...,,,,,,,,,,
536,,,,,,,,,,,...,,,,,,,,,,
537,,,,,,,,,,,...,,,,,,,,,,
538,,,,,,,,,,,...,,,,,,,,,,
539,,,,,,,,,,,...,,,,,,,,,,
540,,,,,,,,,,,...,,,,,,,,,,
541,,,,,,,,,,,...,,,,,,,,,,
542,,,,,,,,,,,...,,,,,,,,,,
543,,,,,,,,,,,...,,,,,,,,,,
544,,,,,,,,,,,...,,,,,,,,,,
545,,,,,,,,,,,...,,,,,,,,,,
546,,,,,,,,,,,...,,,,,,,,,,
547,,,,,,,,,,,...,,,,,,,,,,
548,,,,,,,,,,,...,,,,,,,,,,
549,,,,,,,,,,,...,,,,,,,,,,
550,,,,,,,,,,,...,,,,,,,,,,
551,,,,,,,,,,,...,,,,,,,,,,
552,,,,,,,,,,,...,,,,,,,,,,
553,,,,,,,,,,,...,,,,,,,,,,
554,,,,,,,,,,,...,,,,,,,,,,

In [4]:
new_table = pd.melt(observations,
                       ['Quarter','Country Transferred from '],
                       var_name="Total arrivals into the UK",
                       value_name="Value")

In [5]:
list(observations)

['Quarter',
 'Country Transferred from ',
 'Total arrivals into the UK ',
 'Arrivals into UK: article 8.1 ',
 'Arrivals into UK: article 8.2',
 'Arrivals into UK: article 9',
 'Arrivals into UK: article 10',
 'Arrivals into UK: article 11',
 'Arrivals into UK: article 12',
 'Arrivals into UK: article 13',
 'Arrivals into UK: article 14',
 'Arrivals into UK: article 15',
 'Arrivals into UK: article 16',
 'Arrivals into UK: article 17.2',
 'Arrivals into UK: article 18.1',
 'Arrivals into UK: article 20.5',
 'Total requests for transfers into the UK',
 'Requests for transfer into UK: article 8.1',
 'Requests for transfer into UK: article 8.2',
 'Requests for transfer into UK: article 9',
 'Requests for transfer into UK: article 10',
 'Requests for transfer into UK: article 11',
 'Request for transfer into UK: article 12',
 'Requests for transfer into UK: article 13',
 'Requests for transfer into UK: article 14',
 'Requests for transfer into UK: article 15',
 'Request for transfer into UK: article 16',
 'Request for transfer into UK: article 17.2',
 'Request for transfer into UK: article 18.1',
 'Request for transfer into UK: article 20.5']

In [6]:
new_table = new_table.drop(new_table.index[0])

In [7]:
new_table.count()

Quarter                       15483
Country Transferred from      15483
Total arrivals into the UK    15483
Value                         15483
dtype: int64

In [8]:
new_table.dropna(inplace=True)

In [9]:
new_table = new_table[new_table['Value'] != '.']

In [10]:
new_table = new_table[new_table['Value'] != 0 ]

In [11]:
new_table = new_table[new_table['Value'] != 'z']

In [12]:
new_table.count()

Quarter                       6334
Country Transferred from      6334
Total arrivals into the UK    6334
Value                         6334
dtype: int64

In [13]:
new_table['Unit'] = 'People'
new_table['Measure Type'] = 'Count'

In [14]:
new_table.dtypes

Quarter                       object
Country Transferred from      object
Total arrivals into the UK    object
Value                         object
Unit                          object
Measure Type                  object
dtype: object

In [15]:
new_table.head()

,Quarter,Country Transferred from,Total arrivals into the UK,Value,Unit,Measure Type
1,Quarter,Country Transferred from,Total arrivals into the UK,Total arrivals into the UK,People,Count
2,2015 Q1,*Total,Total arrivals into the UK,41,People,Count
3,2015 Q1,Austria,Total arrivals into the UK,1,People,Count
4,2015 Q1,Belgium,Total arrivals into the UK,1,People,Count
7,2015 Q1,Cyprus,Total arrivals into the UK,2,People,Count

In [16]:
new_table = new_table.drop(new_table.index[0])

In [17]:
new_table['Value'] = pd.to_numeric(new_table['Value'], errors='coerce').fillna(0)

In [18]:
new_table['Value'] = new_table['Value'].astype(int)

In [19]:
new_table['Period'] = new_table['Quarter'].astype(str)

In [20]:
new_table.head()

,Quarter,Country Transferred from,Total arrivals into the UK,Value,Unit,Measure Type,Period
2,2015 Q1,*Total,Total arrivals into the UK,41,People,Count,2015 Q1
3,2015 Q1,Austria,Total arrivals into the UK,1,People,Count,2015 Q1
4,2015 Q1,Belgium,Total arrivals into the UK,1,People,Count,2015 Q1
7,2015 Q1,Cyprus,Total arrivals into the UK,2,People,Count,2015 Q1
9,2015 Q1,Denmark,Total arrivals into the UK,2,People,Count,2015 Q1

In [21]:
new_table['Country Transferred'] = new_table['Country Transferred from '].str.lstrip('*')

In [22]:
new_table['Migration Flow'] = new_table['Total arrivals into the UK'].str.strip()

In [23]:
new_table['Period'] = new_table['Period'].map(lambda cell: cell.replace(' ', '-'))

In [24]:
new_table = new_table[['Period','Country Transferred','Migration Flow','Measure Type','Value','Unit']]

In [25]:
new_table.head()

,Period,Country Transferred,Migration Flow,Measure Type,Value,Unit
2,2015-Q1,Total,Total arrivals into the UK,Count,41,People
3,2015-Q1,Austria,Total arrivals into the UK,Count,1,People
4,2015-Q1,Belgium,Total arrivals into the UK,Count,1,People
7,2015-Q1,Cyprus,Total arrivals into the UK,Count,2,People
9,2015-Q1,Denmark,Total arrivals into the UK,Count,2,People

In [26]:
new_table = new_table[new_table['Value'] != 0 ]

In [27]:
destinationFolder = Path('out')
destinationFolder.mkdir(exist_ok=True, parents=True)

new_table.to_csv(destinationFolder / ('as_22_q.csv'), index = False)

In [28]:
new_table.count()

Period                 1603
Country Transferred    1603
Migration Flow         1603
Measure Type           1603
Value                  1603
Unit                   1603
dtype: int64

In [29]:
new_table.dtypes

Period                 object
Country Transferred    object
Migration Flow         object
Measure Type           object
Value                   int64
Unit                   object
dtype: object