as_04: Asylum applications from main applicants and dependants, by age, sex and country of nationality

In [1]:
%run lib/scrape_govuk.ipynb
metadata = scrape('https://www.gov.uk/government/statistics/immigration-statistics-october-to-december-2017-data-tables')

In [2]:
import pyexcel
from io import BytesIO

ods_files = [f for f in metadata['files']
             if f['type'] == 'ODS' and
             f['title'] == 'Asylum data tables immigration statistics October to December 2017 volume 2 second edition']
assert len(ods_files) == 1, 'Should be exactly one matching ODS file'

ods_url = ods_files[0]['url']
ods_title = ods_files[0]['title']

ods_file = BytesIO(session.get(ods_files[0]['url']).content)

data = pyexcel.get_sheet(file_content=ods_file, file_type='ods', sheet_name='as_04')

https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/691964/asylum2-oct-dec-2017-tables.ods

In [3]:
df = pd.DataFrame(data.get_array())
df

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,36
0,Table as_04: Asylum applications from main app...,,,,,,,,,,...,,,,,,,,,,
1,Back to contents,,,,,,,,,,...,,,,,,,,,,
2,,,,,,,,,,,...,,,,,,,,,,
3,Year,Geographical region,Country of nationality,Total Applications,Total male applications,Male: \nunder 5,Male: 5-9,Male: 10-13,Male: 14-15,Male: 16-17,...,Female: 21-24,Female: 25-29,Female: 30-34,Female: 35-39,Female: 40-49,Female: 50-59,Female: 60-64,Female: \n65+,Female: Age unknown,Sex unknown
4,2008,*Total,*Total,31313,21020,1017,521,657,1118,1940,...,1103,2054,1433,962,927,362,97,143,159,30
5,2008,Africa North,*Total Africa North,883,757,24,13,6,15,44,...,10,28,15,9,11,4,0,4,6,1
6,2008,Africa Sub-Saharan,*Total Africa Sub-Saharan,11852,6067,556,199,134,101,287,...,594,1205,860,545,530,219,50,69,68,7
7,2008,America North,*Total America North,26,13,0,0,0,1,1,...,0,2,1,1,0,0,0,1,0,0
8,2008,America Central and South,*Total America Central and South,477,311,18,10,6,4,5,...,12,28,34,19,25,6,0,0,0,0
9,2008,Asia Central,*Total Asia Central,3776,3524,37,28,210,600,756,...,23,49,13,14,21,6,9,9,2,4
10,2008,Asia East,*Total Asia East,1957,1005,66,8,8,13,68,...,165,202,106,94,55,14,0,4,44,5
11,2008,Asia South,*Total Asia South,5292,3567,203,162,209,124,121,...,142,303,273,150,150,61,14,27,30,5
12,2008,Asia South East,*Total Asia South East,518,375,11,4,4,9,17,...,25,31,18,20,17,4,1,1,1,0
13,2008,EU 14,*Total EU 14,6,3,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
14,2008,EU 2,*Total EU 2,4,1,0,0,0,0,0,...,2,0,0,1,0,0,0,0,0,0
15,2008,EU 8,*Total EU 8,2,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,2008,EU Other,*Total EU Other,4,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
17,2008,Europe Other,*Total Europe Other,848,596,28,23,6,36,74,...,44,58,21,22,26,5,2,3,5,1
18,2008,Middle East,*Total Middle East,5576,4721,69,73,73,214,566,...,83,146,90,87,91,41,20,24,3,7
19,2008,Oceania,*Total Oceania,7,5,2,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
20,2008,Other,*Total Other,85,72,2,1,1,1,1,...,2,0,2,0,1,1,1,1,0,0
21,2008,Asia Central,Afghanistan,3724,3492,30,28,208,600,755,...,20,44,10,13,18,5,9,9,2,4
22,2008,Europe Other,Albania,173,143,2,1,2,21,42,...,4,6,6,3,0,0,0,0,2,0
23,2008,Africa North,Algeria,383,340,9,4,1,11,26,...,2,11,6,2,4,3,0,0,1,0
24,2008,Oceania,American Samoa,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,2008,Europe Other,Andorra,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,2008,Africa Sub-Saharan,Angola,98,50,5,1,3,3,1,...,7,7,4,1,1,2,0,0,0,0
27,2008,Other,Anguilla (British),0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,2008,America Central and South,Antigua and Barbuda,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
29,2008,America Central and South,Argentina,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2404,,,,,,,,,,,...,,,,,,,,,,
2405,,,,,,,,,,,...,,,,,,,,,,
2406,,,,,,,,,,,...,,,,,,,,,,
2407,,,,,,,,,,,...,,,,,,,,,,
2408,,,,,,,,,,,...,,,,,,,,,,
2409,,,,,,,,,,,...,,,,,,,,,,
2410,,,,,,,,,,,...,,,,,,,,,,
2411,,,,,,,,,,,...,,,,,,,,,,
2412,,,,,,,,,,,...,,,,,,,,,,
2413,,,,,,,,,,,...,,,,,,,,,,
2414,,,,,,,,,,,...,,,,,,,,,,
2415,,,,,,,,,,,...,,,,,,,,,,
2416,,,,,,,,,,,...,,,,,,,,,,
2417,,,,,,,,,,,...,,,,,,,,,,
2418,,,,,,,,,,,...,,,,,,,,,,
2419,,,,,,,,,,,...,,,,,,,,,,
2420,,,,,,,,,,,...,,,,,,,,,,
2421,,,,,,,,,,,...,,,,,,,,,,
2422,,,,,,,,,,,...,,,,,,,,,,
2423,,,,,,,,,,,...,,,,,,,,,,
2424,,,,,,,,,,,...,,,,,,,,,,
2425,,,,,,,,,,,...,,,,,,,,,,
2426,,,,,,,,,,,...,,,,,,,,,,
2427,,,,,,,,,,,...,,,,,,,,,,
2428,,,,,,,,,,,...,,,,,,,,,,
2429,,,,,,,,,,,...,,,,,,,,,,
2430,,,,,,,,,,,...,,,,,,,,,,
2431,,,,,,,,,,,...,,,,,,,,,,
2432,,,,,,,,,,,...,,,,,,,,,,
2433,,,,,,,,,,,...,,,,,,,,,,

In [4]:
observations = df.iloc[3:, :]
observations.rename(columns= observations.iloc[0], inplace=True)
observations.drop(observations.index[0])

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3027: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

,Year,Geographical region,Country of nationality,Total Applications,Total male applications,Male: under 5,Male: 5-9,Male: 10-13,Male: 14-15,Male: 16-17,...,Female: 21-24,Female: 25-29,Female: 30-34,Female: 35-39,Female: 40-49,Female: 50-59,Female: 60-64,Female: 65+,Female: Age unknown,Sex unknown
4,2008,*Total,*Total,31313,21020,1017,521,657,1118,1940,...,1103,2054,1433,962,927,362,97,143,159,30
5,2008,Africa North,*Total Africa North,883,757,24,13,6,15,44,...,10,28,15,9,11,4,0,4,6,1
6,2008,Africa Sub-Saharan,*Total Africa Sub-Saharan,11852,6067,556,199,134,101,287,...,594,1205,860,545,530,219,50,69,68,7
7,2008,America North,*Total America North,26,13,0,0,0,1,1,...,0,2,1,1,0,0,0,1,0,0
8,2008,America Central and South,*Total America Central and South,477,311,18,10,6,4,5,...,12,28,34,19,25,6,0,0,0,0
9,2008,Asia Central,*Total Asia Central,3776,3524,37,28,210,600,756,...,23,49,13,14,21,6,9,9,2,4
10,2008,Asia East,*Total Asia East,1957,1005,66,8,8,13,68,...,165,202,106,94,55,14,0,4,44,5
11,2008,Asia South,*Total Asia South,5292,3567,203,162,209,124,121,...,142,303,273,150,150,61,14,27,30,5
12,2008,Asia South East,*Total Asia South East,518,375,11,4,4,9,17,...,25,31,18,20,17,4,1,1,1,0
13,2008,EU 14,*Total EU 14,6,3,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
14,2008,EU 2,*Total EU 2,4,1,0,0,0,0,0,...,2,0,0,1,0,0,0,0,0,0
15,2008,EU 8,*Total EU 8,2,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,2008,EU Other,*Total EU Other,4,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
17,2008,Europe Other,*Total Europe Other,848,596,28,23,6,36,74,...,44,58,21,22,26,5,2,3,5,1
18,2008,Middle East,*Total Middle East,5576,4721,69,73,73,214,566,...,83,146,90,87,91,41,20,24,3,7
19,2008,Oceania,*Total Oceania,7,5,2,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
20,2008,Other,*Total Other,85,72,2,1,1,1,1,...,2,0,2,0,1,1,1,1,0,0
21,2008,Asia Central,Afghanistan,3724,3492,30,28,208,600,755,...,20,44,10,13,18,5,9,9,2,4
22,2008,Europe Other,Albania,173,143,2,1,2,21,42,...,4,6,6,3,0,0,0,0,2,0
23,2008,Africa North,Algeria,383,340,9,4,1,11,26,...,2,11,6,2,4,3,0,0,1,0
24,2008,Oceania,American Samoa,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,2008,Europe Other,Andorra,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,2008,Africa Sub-Saharan,Angola,98,50,5,1,3,3,1,...,7,7,4,1,1,2,0,0,0,0
27,2008,Other,Anguilla (British),0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,2008,America Central and South,Antigua and Barbuda,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
29,2008,America Central and South,Argentina,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,2008,Europe Other,Armenia,16,11,0,1,0,0,0,...,1,2,0,1,0,1,0,0,0,0
31,2008,America Central and South,Aruba,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32,2008,Oceania,Australia,2,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33,2008,EU 14,Austria,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2404,,,,,,,,,,,...,,,,,,,,,,
2405,,,,,,,,,,,...,,,,,,,,,,
2406,,,,,,,,,,,...,,,,,,,,,,
2407,,,,,,,,,,,...,,,,,,,,,,
2408,,,,,,,,,,,...,,,,,,,,,,
2409,,,,,,,,,,,...,,,,,,,,,,
2410,,,,,,,,,,,...,,,,,,,,,,
2411,,,,,,,,,,,...,,,,,,,,,,
2412,,,,,,,,,,,...,,,,,,,,,,
2413,,,,,,,,,,,...,,,,,,,,,,
2414,,,,,,,,,,,...,,,,,,,,,,
2415,,,,,,,,,,,...,,,,,,,,,,
2416,,,,,,,,,,,...,,,,,,,,,,
2417,,,,,,,,,,,...,,,,,,,,,,
2418,,,,,,,,,,,...,,,,,,,,,,
2419,,,,,,,,,,,...,,,,,,,,,,
2420,,,,,,,,,,,...,,,,,,,,,,
2421,,,,,,,,,,,...,,,,,,,,,,
2422,,,,,,,,,,,...,,,,,,,,,,
2423,,,,,,,,,,,...,,,,,,,,,,
2424,,,,,,,,,,,...,,,,,,,,,,
2425,,,,,,,,,,,...,,,,,,,,,,
2426,,,,,,,,,,,...,,,,,,,,,,
2427,,,,,,,,,,,...,,,,,,,,,,
2428,,,,,,,,,,,...,,,,,,,,,,
2429,,,,,,,,,,,...,,,,,,,,,,
2430,,,,,,,,,,,...,,,,,,,,,,
2431,,,,,,,,,,,...,,,,,,,,,,
2432,,,,,,,,,,,...,,,,,,,,,,
2433,,,,,,,,,,,...,,,,,,,,,,

In [5]:
new_table = pd.melt(observations,
                       ['Year','Geographical region','Country of nationality'],
                       var_name="Total applications",
                       value_name="Value")

In [6]:
new_table = new_table.drop(new_table.index[0])

In [7]:
new_table.count()

Year                      82653
Geographical region       82653
Country of nationality    82653
Total applications        82653
Value                     82653
dtype: int64

In [8]:
new_table.dropna(inplace=True)

In [9]:
new_table = new_table[new_table['Value'] != '.']

In [10]:
new_table = new_table[new_table['Value'] != 0 ]

In [11]:
new_table = new_table[new_table['Value'] != 'z']

In [12]:
new_table.count()

Year                      25874
Geographical region       25874
Country of nationality    25874
Total applications        25874
Value                     25874
dtype: int64

In [13]:
new_table['Unit'] = 'People'
new_table['Measure Type'] = 'Count'

In [14]:
new_table.dtypes

Year                      object
Geographical region       object
Country of nationality    object
Total applications        object
Value                     object
Unit                      object
Measure Type              object
dtype: object

In [15]:
new_table.head()

,Year,Geographical region,Country of nationality,Total applications,Value,Unit,Measure Type
1,2008,*Total,*Total,Total Applications,31313,People,Count
2,2008,Africa North,*Total Africa North,Total Applications,883,People,Count
3,2008,Africa Sub-Saharan,*Total Africa Sub-Saharan,Total Applications,11852,People,Count
4,2008,America North,*Total America North,Total Applications,26,People,Count
5,2008,America Central and South,*Total America Central and South,Total Applications,477,People,Count

In [ ]:
# new_table = new_table.drop(new_table.index[0])

In [16]:
new_table['Value'] = pd.to_numeric(new_table['Value'], errors='coerce').fillna(0)

In [17]:
new_table['Value'] = new_table['Value'].astype(int)

In [18]:
new_table['Year'] = new_table['Year'].astype(str)

In [19]:
new_table['Year'] = pd.to_numeric(new_table['Year'], errors='coerce').fillna(0)

In [20]:
new_table['Year'] = new_table['Year'].astype(int)

In [ ]:
# new_table.to_csv('rty.csv')

In [21]:
new_table.head()

,Year,Geographical region,Country of nationality,Total applications,Value,Unit,Measure Type
1,2008,*Total,*Total,Total Applications,31313,People,Count
2,2008,Africa North,*Total Africa North,Total Applications,883,People,Count
3,2008,Africa Sub-Saharan,*Total Africa Sub-Saharan,Total Applications,11852,People,Count
4,2008,America North,*Total America North,Total Applications,26,People,Count
5,2008,America Central and South,*Total America Central and South,Total Applications,477,People,Count

In [22]:
new_table['Geography'] = new_table['Geographical region'].str.lstrip('*')

In [23]:
new_table['Citizenship'] = new_table['Country of nationality'].str.lstrip('*')

In [24]:
new_table['Asylum Status'] = new_table['Total applications'].str.lstrip('*')

In [25]:
new_table['Asylum Status'] = new_table['Asylum Status'].map(lambda cell:cell.replace('Applications received in-country', 'Applications received in country'))

In [26]:
new_table = new_table[['Geography','Year','Citizenship','Asylum Status','Measure Type','Value','Unit']]

In [27]:
new_table.head()

,Geography,Year,Citizenship,Asylum Status,Measure Type,Value,Unit
1,Total,2008,Total,Total Applications,Count,31313,People
2,Africa North,2008,Total Africa North,Total Applications,Count,883,People
3,Africa Sub-Saharan,2008,Total Africa Sub-Saharan,Total Applications,Count,11852,People
4,America North,2008,Total America North,Total Applications,Count,26,People
5,America Central and South,2008,Total America Central and South,Total Applications,Count,477,People

In [28]:
new_table = new_table[new_table['Value'] != 0 ]

In [29]:
destinationFolder = Path('out')
destinationFolder.mkdir(exist_ok=True, parents=True)

new_table.to_csv(destinationFolder / ('as_04.csv'), index = False)

writeMetadata(metadata,
              'Home Office Asylum October to December 2017 volume 2 second edition',
              ods_title, 'Migration')

In [30]:
new_table.count()

Geography        24005
Year             24005
Citizenship      24005
Asylum Status    24005
Measure Type     24005
Value            24005
Unit             24005
dtype: int64

In [31]:
new_table.dtypes

Geography        object
Year              int32
Citizenship      object
Asylum Status    object
Measure Type     object
Value             int32
Unit             object
dtype: object