Table vi_01_q: Entry clearance visa applications and resolution by category

In [1]:
from gssutils import *

if is_interactive():
    scraper = Scraper('https://www.gov.uk/government/statistics/immigration-statistics-october-to-december-2017-data-tables')
    sheet = scraper.distribution(
        title='Entry clearance visas granted outside the UK data tables immigration statistics October to December 2017 volume 1'
    ).as_pandas(sheet_name='vi_01_q')
sheet

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,Table vi_01_q: Entry clearance visa applicatio...,,,,,,,,,,,,
1,Back to contents,,,,,,,,,,,,
2,,,,,,,,,,,,,
3,Quarter,Type,Broad category,Applicant type,Category,Applications,Resolved,Granted,%,Refused,%,Withdrawn,Lapsed
4,2005 Q1,*Total,*Total,*Total,*Total,549934,544208,428907,0.788131,108812,0.199946,4888,1601
5,2005 Q1,*Total (excl. Visitors and transit),*Total,*Total,*Total (excluding visitors and transit),158424,157409,121258,0.770337,33704,0.214117,2111,336
6,2005 Q1,Work,*Total,*Total,*Total,72805,70631,60550,0.857272,8745,0.123812,1220,116
7,2005 Q1,Study,*Total,*Total,*Total (including Short-term study),47737,49921,29018,0.581278,20236,0.40536,527,140
8,2005 Q1,Study,*Total,*Total,*Total (excluding Short-term study),44870,47049,26335,0.559736,20068,0.426534,517,129
9,2005 Q1,Family,*Total,*Total,*Total,19917,19415,15943,0.821169,3258,0.167808,181,33
10,2005 Q1,Dep. joining or accompanying,*Total,*Total,*Total,8209,8052,6850,0.85072,1105,0.137233,79,18
11,2005 Q1,Other,*Total,*Total,*Total,401266,396189,316546,0.798977,75468,0.190485,2881,1294
12,2005 Q1,Work,Tier 1 & pre-PBS equivalent,Main applicant,*Total,1814,3218,1430,0.444375,1294,0.402113,490,4
13,2005 Q1,Work,Tier 1 & pre-PBS equivalent,Dependant,*Total,59,0,0,0,0,0,0,0
14,2005 Q1,Work,Tier 2 & pre-PBS equivalent,Main applicant,*Total,17562,17521,15909,0.907996,1523,0.0869243,73,16
15,2005 Q1,Work,Tier 2 & pre-PBS equivalent,Dependant,*Total,12333,11861,10920,0.920664,893,0.0752888,35,13
16,2005 Q1,Work,Tier 5 & pre-PBS equivalent,Main applicant,*Total,27148,25519,20948,0.820879,4059,0.159058,481,31
17,2005 Q1,Work,Tier 5 & pre-PBS equivalent,Dependant,*Total,z,z,z,z,z,z,z,z
18,2005 Q1,Work,Non-PBS,Main applicant,*Total,5937,5757,5169,0.897863,469,0.081466,96,23
19,2005 Q1,Work,Non-PBS,Dependant,*Total,41,36,22,0.611111,14,0.388889,0,0
20,2005 Q1,Work,Other,Main applicant,*Total,7911,6719,6152,0.915612,493,0.073374,45,29
21,2005 Q1,Study,Tier 4 & pre-PBS equivalent,Main applicant,*Total,40690,42893,23108,0.538736,19171,0.446949,493,121
22,2005 Q1,Study,Tier 4 & pre-PBS equivalent,Dependant,*Total,4180,4156,3227,0.776468,897,0.215833,24,8
23,2005 Q1,Work,Tier 1 & pre-PBS equivalent,Main applicant,Tier 1 - General,z,z,z,z,z,z,z,z
24,2005 Q1,Work,Tier 1 & pre-PBS equivalent,Main applicant,Tier 1 - Investors,z,z,z,z,z,z,z,z
25,2005 Q1,Work,Tier 1 & pre-PBS equivalent,Main applicant,Tier 1 - Entrepreneurs,z,z,z,z,z,z,z,z
26,2005 Q1,Work,Tier 1 & pre-PBS equivalent,Main applicant,Tier 1 - Graduate entrepreneurs,z,z,z,z,z,z,z,z
27,2005 Q1,Work,Tier 1 & pre-PBS equivalent,Main applicant,Tier 1 - Post Study,z,z,z,z,z,z,z,z
28,2005 Q1,Work,Tier 1 & pre-PBS equivalent,Main applicant,Tier 1 - Exceptional Talent,z,z,z,z,z,z,z,z
29,2005 Q1,Work,Tier 1 & pre-PBS equivalent,Main applicant,Tier 1 - Other,z,z,z,z,z,z,z,z
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4551,2017 Q4,Work,Tier 5 & pre-PBS equivalent,Dependant,Tier 5 Dependant,567,548,478,0.872263,70,0.127737,0,0
4552,2017 Q4,Work,Non-PBS,Main applicant,Domestic workers in Private Households,4574,4583,4119,0.898756,445,0.097098,18,1
4553,2017 Q4,Work,Non-PBS,Main applicant,UK Ancestry,856,794,759,0.955919,30,0.0377834,5,0
4554,2017 Q4,Work,Non-PBS,Main applicant,Other permit free employment - Non-PBS,239,239,182,0.761506,56,0.23431,1,0
4555,2017 Q4,Work,Non-PBS,Dependant,Domestic workers in Private Households,32,12,3,0.25,6,0.5,3,0
4556,2017 Q4,Work,Other,Main applicant,Other permit free employment not allocated,120,124,124,1,0,0,0,0
4557,2017 Q4,Study,Tier 4 & pre-PBS equivalent,Main applicant,Tier 4 - General student,16112,15942,14572,0.914063,1255,0.0787229,115,0
4558,2017 Q4,Study,Tier 4 & pre-PBS equivalent,Main applicant,Tier 4 - Child student,1022,1027,939,0.914314,82,0.0798442,6,0
4559,2017 Q4,Study,Tier 4 & pre-PBS equivalent,Main applicant,Students,2,3,1,0.333333,1,0.333333,1,z
4560,2017 Q4,Study,Tier 4 & pre-PBS equivalent,Main applicant,Trainees - doctors & dentists,z,z,z,z,z,z,z,z
4561,2017 Q4,Study,Tier 4 & pre-PBS equivalent,Dependant,Tier 4 - General student,2761,2732,2376,0.869693,351,0.128477,5,0
4562,2017 Q4,Study,Tier 4 & pre-PBS equivalent,Dependant,Students,1,2,z,z,2,1,z,z
4563,2017 Q4,Study,Non-PBS,Main applicant,Short-term study (previously Student Visitors),16916,15644,13571,0.867489,2029,0.129698,44,0
4564,2017 Q4,Family,Family,All,Family: Partner,9523,14328,10605,0.740159,3653,0.254955,68,2
4565,2017 Q4,Family,Family,All,Family: Partner (for settlement),41,83,78,0.939759,5,0.060241,0,0
4566,2017 Q4,Family,Family,All,Family: Child,85,14,5,0.357143,9,0.642857,0,0
4567,2017 Q4,Family,Family,All,Family: Child (for settlement),1767,1577,703,0.445783,861,0.545973,13,0
4568,2017 Q4,Family,Family,All,Family: Other,1991,2115,1513,0.715366,587,0.277541,15,0
4569,2017 Q4,Family,Family,All,Family: Other (for settlement),40,145,47,0.324138,97,0.668966,1,0
4570,2017 Q4,Dep. joining or accompanying,Dep. joining or accompanying,Dependant,Joining or accompanying: Partner,539,589,525,0.891341,60,0.101868,4,0
4571,2017 Q4,Dep. joining or accompanying,Dep. joining or accompanying,Dependant,Joining or accompanying: Child,1012,2370,1722,0.726582,631,0.266245,17,0
4572,2017 Q4,Dep. joining or accompanying,Dep. joining or accompanying,Dependant,Joining or accompanying: Other,12,40,11,0.275,29,0.725,0,0
4573,2017 Q4,Other,Other temporary visas,All,EEA family permits,10014,12430,8435,0.6786,3434,0.276267,561,0
4574,2017 Q4,Other,Other temporary visas,Main applicant,Visitors,417610,421871,359120,0.851255,61777,0.146436,970,4
4575,2017 Q4,Other,Other temporary visas,Dependant,Visitors,34005,34154,29480,0.863149,4569,0.133776,103,2
4576,2017 Q4,Other,Other temporary visas,All,Transit,4309,4346,3914,0.900598,367,0.0844455,65,0
4577,2017 Q4,Other,Other temporary visas,All,Other temporary,4541,4455,4318,0.969248,34,0.00763187,103,0
4578,2017 Q4,Other,Other settlement visas,Main applicant,Certificate of entitlement to right of abode,353,399,342,0.857143,48,0.120301,9,0
4579,2017 Q4,Other,Other settlement visas,All,Other settlement (indefinite leave),253,476,386,0.810924,81,0.170168,9,0
4580,,,,,,,,,,,,,

In [2]:
sheet.rename(columns=sheet.iloc[3], inplace=True)
sheet.drop([0,1,2,3], inplace=True)
sheet.drop(sheet.index[sheet['Quarter'] == ''], inplace=True)
sheet

,Quarter,Type,Broad category,Applicant type,Category,Applications,Resolved,Granted,%,Refused,%,Withdrawn,Lapsed
4,2005 Q1,*Total,*Total,*Total,*Total,549934,544208,428907,0.788131,108812,0.199946,4888,1601
5,2005 Q1,*Total (excl. Visitors and transit),*Total,*Total,*Total (excluding visitors and transit),158424,157409,121258,0.770337,33704,0.214117,2111,336
6,2005 Q1,Work,*Total,*Total,*Total,72805,70631,60550,0.857272,8745,0.123812,1220,116
7,2005 Q1,Study,*Total,*Total,*Total (including Short-term study),47737,49921,29018,0.581278,20236,0.40536,527,140
8,2005 Q1,Study,*Total,*Total,*Total (excluding Short-term study),44870,47049,26335,0.559736,20068,0.426534,517,129
9,2005 Q1,Family,*Total,*Total,*Total,19917,19415,15943,0.821169,3258,0.167808,181,33
10,2005 Q1,Dep. joining or accompanying,*Total,*Total,*Total,8209,8052,6850,0.85072,1105,0.137233,79,18
11,2005 Q1,Other,*Total,*Total,*Total,401266,396189,316546,0.798977,75468,0.190485,2881,1294
12,2005 Q1,Work,Tier 1 & pre-PBS equivalent,Main applicant,*Total,1814,3218,1430,0.444375,1294,0.402113,490,4
13,2005 Q1,Work,Tier 1 & pre-PBS equivalent,Dependant,*Total,59,0,0,0,0,0,0,0
14,2005 Q1,Work,Tier 2 & pre-PBS equivalent,Main applicant,*Total,17562,17521,15909,0.907996,1523,0.0869243,73,16
15,2005 Q1,Work,Tier 2 & pre-PBS equivalent,Dependant,*Total,12333,11861,10920,0.920664,893,0.0752888,35,13
16,2005 Q1,Work,Tier 5 & pre-PBS equivalent,Main applicant,*Total,27148,25519,20948,0.820879,4059,0.159058,481,31
17,2005 Q1,Work,Tier 5 & pre-PBS equivalent,Dependant,*Total,z,z,z,z,z,z,z,z
18,2005 Q1,Work,Non-PBS,Main applicant,*Total,5937,5757,5169,0.897863,469,0.081466,96,23
19,2005 Q1,Work,Non-PBS,Dependant,*Total,41,36,22,0.611111,14,0.388889,0,0
20,2005 Q1,Work,Other,Main applicant,*Total,7911,6719,6152,0.915612,493,0.073374,45,29
21,2005 Q1,Study,Tier 4 & pre-PBS equivalent,Main applicant,*Total,40690,42893,23108,0.538736,19171,0.446949,493,121
22,2005 Q1,Study,Tier 4 & pre-PBS equivalent,Dependant,*Total,4180,4156,3227,0.776468,897,0.215833,24,8
23,2005 Q1,Work,Tier 1 & pre-PBS equivalent,Main applicant,Tier 1 - General,z,z,z,z,z,z,z,z
24,2005 Q1,Work,Tier 1 & pre-PBS equivalent,Main applicant,Tier 1 - Investors,z,z,z,z,z,z,z,z
25,2005 Q1,Work,Tier 1 & pre-PBS equivalent,Main applicant,Tier 1 - Entrepreneurs,z,z,z,z,z,z,z,z
26,2005 Q1,Work,Tier 1 & pre-PBS equivalent,Main applicant,Tier 1 - Graduate entrepreneurs,z,z,z,z,z,z,z,z
27,2005 Q1,Work,Tier 1 & pre-PBS equivalent,Main applicant,Tier 1 - Post Study,z,z,z,z,z,z,z,z
28,2005 Q1,Work,Tier 1 & pre-PBS equivalent,Main applicant,Tier 1 - Exceptional Talent,z,z,z,z,z,z,z,z
29,2005 Q1,Work,Tier 1 & pre-PBS equivalent,Main applicant,Tier 1 - Other,z,z,z,z,z,z,z,z
30,2005 Q1,Work,Tier 1 & pre-PBS equivalent,Main applicant,International Graduates Scheme,z,z,z,z,z,z,z,z
31,2005 Q1,Work,Tier 1 & pre-PBS equivalent,Main applicant,Other permit free employment - High value,1814,3218,1430,0.444375,1294,0.402113,490,4
32,2005 Q1,Work,Tier 1 & pre-PBS equivalent,Dependant,Tier 1 - General,z,z,z,z,z,z,z,z
33,2005 Q1,Work,Tier 1 & pre-PBS equivalent,Dependant,Tier 1 - Investors,z,z,z,z,z,z,z,z
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4550,2017 Q4,Work,Tier 5 & pre-PBS equivalent,Main applicant,Other permit free employment,z,z,z,z,z,z,z,z
4551,2017 Q4,Work,Tier 5 & pre-PBS equivalent,Dependant,Tier 5 Dependant,567,548,478,0.872263,70,0.127737,0,0
4552,2017 Q4,Work,Non-PBS,Main applicant,Domestic workers in Private Households,4574,4583,4119,0.898756,445,0.097098,18,1
4553,2017 Q4,Work,Non-PBS,Main applicant,UK Ancestry,856,794,759,0.955919,30,0.0377834,5,0
4554,2017 Q4,Work,Non-PBS,Main applicant,Other permit free employment - Non-PBS,239,239,182,0.761506,56,0.23431,1,0
4555,2017 Q4,Work,Non-PBS,Dependant,Domestic workers in Private Households,32,12,3,0.25,6,0.5,3,0
4556,2017 Q4,Work,Other,Main applicant,Other permit free employment not allocated,120,124,124,1,0,0,0,0
4557,2017 Q4,Study,Tier 4 & pre-PBS equivalent,Main applicant,Tier 4 - General student,16112,15942,14572,0.914063,1255,0.0787229,115,0
4558,2017 Q4,Study,Tier 4 & pre-PBS equivalent,Main applicant,Tier 4 - Child student,1022,1027,939,0.914314,82,0.0798442,6,0
4559,2017 Q4,Study,Tier 4 & pre-PBS equivalent,Main applicant,Students,2,3,1,0.333333,1,0.333333,1,z
4560,2017 Q4,Study,Tier 4 & pre-PBS equivalent,Main applicant,Trainees - doctors & dentists,z,z,z,z,z,z,z,z
4561,2017 Q4,Study,Tier 4 & pre-PBS equivalent,Dependant,Tier 4 - General student,2761,2732,2376,0.869693,351,0.128477,5,0
4562,2017 Q4,Study,Tier 4 & pre-PBS equivalent,Dependant,Students,1,2,z,z,2,1,z,z
4563,2017 Q4,Study,Non-PBS,Main applicant,Short-term study (previously Student Visitors),16916,15644,13571,0.867489,2029,0.129698,44,0
4564,2017 Q4,Family,Family,All,Family: Partner,9523,14328,10605,0.740159,3653,0.254955,68,2
4565,2017 Q4,Family,Family,All,Family: Partner (for settlement),41,83,78,0.939759,5,0.060241,0,0
4566,2017 Q4,Family,Family,All,Family: Child,85,14,5,0.357143,9,0.642857,0,0
4567,2017 Q4,Family,Family,All,Family: Child (for settlement),1767,1577,703,0.445783,861,0.545973,13,0
4568,2017 Q4,Family,Family,All,Family: Other,1991,2115,1513,0.715366,587,0.277541,15,0
4569,2017 Q4,Family,Family,All,Family: Other (for settlement),40,145,47,0.324138,97,0.668966,1,0
4570,2017 Q4,Dep. joining or accompanying,Dep. joining or accompanying,Dependant,Joining or accompanying: Partner,539,589,525,0.891341,60,0.101868,4,0
4571,2017 Q4,Dep. joining or accompanying,Dep. joining or accompanying,Dependant,Joining or accompanying: Child,1012,2370,1722,0.726582,631,0.266245,17,0
4572,2017 Q4,Dep. joining or accompanying,Dep. joining or accompanying,Dependant,Joining or accompanying: Other,12,40,11,0.275,29,0.725,0,0
4573,2017 Q4,Other,Other temporary visas,All,EEA family permits,10014,12430,8435,0.6786,3434,0.276267,561,0
4574,2017 Q4,Other,Other temporary visas,Main applicant,Visitors,417610,421871,359120,0.851255,61777,0.146436,970,4
4575,2017 Q4,Other,Other temporary visas,Dependant,Visitors,34005,34154,29480,0.863149,4569,0.133776,103,2
4576,2017 Q4,Other,Other temporary visas,All,Transit,4309,4346,3914,0.900598,367,0.0844455,65,0
4577,2017 Q4,Other,Other temporary visas,All,Other temporary,4541,4455,4318,0.969248,34,0.00763187,103,0
4578,2017 Q4,Other,Other settlement visas,Main applicant,Certificate of entitlement to right of abode,353,399,342,0.857143,48,0.120301,9,0
4579,2017 Q4,Other,Other settlement visas,All,Other settlement (indefinite leave),253,476,386,0.810924,81,0.170168,9,0

Let's consider the columns up to 'Category' to be the main dimensions, ignore the derived % calculations and collapse down the various types of applications under a 'Resolution' column:

In [3]:
tidy = pd.wide_to_long(
    sheet.drop(columns=['%']).rename(columns={'Applications': 'Applications All',
                    'Resolved': 'Applications Resolved',
                    'Granted': 'Applications Granted',
                    'Refused': 'Applications Refused',
                    'Withdrawn': 'Applications Withdrawn',
                    'Lapsed': 'Applications Lapsed'}),
                stubnames='Applications',
                i=['Quarter', 'Type', 'Broad category', 'Applicant type', 'Category'],
                sep=' ',
                suffix='.*',
                j='Resolution').reset_index()
tidy

,Quarter,Type,Broad category,Applicant type,Category,Resolution,Applications
0,2005 Q1,*Total,*Total,*Total,*Total,All,549934
1,2005 Q1,*Total,*Total,*Total,*Total,Resolved,544208
2,2005 Q1,*Total,*Total,*Total,*Total,Granted,428907
3,2005 Q1,*Total,*Total,*Total,*Total,Refused,108812
4,2005 Q1,*Total,*Total,*Total,*Total,Withdrawn,4888
5,2005 Q1,*Total,*Total,*Total,*Total,Lapsed,1601
6,2005 Q1,*Total (excl. Visitors and transit),*Total,*Total,*Total (excluding visitors and transit),All,158424
7,2005 Q1,*Total (excl. Visitors and transit),*Total,*Total,*Total (excluding visitors and transit),Resolved,157409
8,2005 Q1,*Total (excl. Visitors and transit),*Total,*Total,*Total (excluding visitors and transit),Granted,121258
9,2005 Q1,*Total (excl. Visitors and transit),*Total,*Total,*Total (excluding visitors and transit),Refused,33704
10,2005 Q1,*Total (excl. Visitors and transit),*Total,*Total,*Total (excluding visitors and transit),Withdrawn,2111
11,2005 Q1,*Total (excl. Visitors and transit),*Total,*Total,*Total (excluding visitors and transit),Lapsed,336
12,2005 Q1,Work,*Total,*Total,*Total,All,72805
13,2005 Q1,Work,*Total,*Total,*Total,Resolved,70631
14,2005 Q1,Work,*Total,*Total,*Total,Granted,60550
15,2005 Q1,Work,*Total,*Total,*Total,Refused,8745
16,2005 Q1,Work,*Total,*Total,*Total,Withdrawn,1220
17,2005 Q1,Work,*Total,*Total,*Total,Lapsed,116
18,2005 Q1,Study,*Total,*Total,*Total (including Short-term study),All,47737
19,2005 Q1,Study,*Total,*Total,*Total (including Short-term study),Resolved,49921
20,2005 Q1,Study,*Total,*Total,*Total (including Short-term study),Granted,29018
21,2005 Q1,Study,*Total,*Total,*Total (including Short-term study),Refused,20236
22,2005 Q1,Study,*Total,*Total,*Total (including Short-term study),Withdrawn,527
23,2005 Q1,Study,*Total,*Total,*Total (including Short-term study),Lapsed,140
24,2005 Q1,Study,*Total,*Total,*Total (excluding Short-term study),All,44870
25,2005 Q1,Study,*Total,*Total,*Total (excluding Short-term study),Resolved,47049
26,2005 Q1,Study,*Total,*Total,*Total (excluding Short-term study),Granted,26335
27,2005 Q1,Study,*Total,*Total,*Total (excluding Short-term study),Refused,20068
28,2005 Q1,Study,*Total,*Total,*Total (excluding Short-term study),Withdrawn,517
29,2005 Q1,Study,*Total,*Total,*Total (excluding Short-term study),Lapsed,129
...,...,...,...,...,...,...,...
27426,2017 Q4,Other,Other temporary visas,Dependant,Visitors,All,34005
27427,2017 Q4,Other,Other temporary visas,Dependant,Visitors,Resolved,34154
27428,2017 Q4,Other,Other temporary visas,Dependant,Visitors,Granted,29480
27429,2017 Q4,Other,Other temporary visas,Dependant,Visitors,Refused,4569
27430,2017 Q4,Other,Other temporary visas,Dependant,Visitors,Withdrawn,103
27431,2017 Q4,Other,Other temporary visas,Dependant,Visitors,Lapsed,2
27432,2017 Q4,Other,Other temporary visas,All,Transit,All,4309
27433,2017 Q4,Other,Other temporary visas,All,Transit,Resolved,4346
27434,2017 Q4,Other,Other temporary visas,All,Transit,Granted,3914
27435,2017 Q4,Other,Other temporary visas,All,Transit,Refused,367
27436,2017 Q4,Other,Other temporary visas,All,Transit,Withdrawn,65
27437,2017 Q4,Other,Other temporary visas,All,Transit,Lapsed,0
27438,2017 Q4,Other,Other temporary visas,All,Other temporary,All,4541
27439,2017 Q4,Other,Other temporary visas,All,Other temporary,Resolved,4455
27440,2017 Q4,Other,Other temporary visas,All,Other temporary,Granted,4318
27441,2017 Q4,Other,Other temporary visas,All,Other temporary,Refused,34
27442,2017 Q4,Other,Other temporary visas,All,Other temporary,Withdrawn,103
27443,2017 Q4,Other,Other temporary visas,All,Other temporary,Lapsed,0
27444,2017 Q4,Other,Other settlement visas,Main applicant,Certificate of entitlement to right of abode,All,353
27445,2017 Q4,Other,Other settlement visas,Main applicant,Certificate of entitlement to right of abode,Resolved,399
27446,2017 Q4,Other,Other settlement visas,Main applicant,Certificate of entitlement to right of abode,Granted,342
27447,2017 Q4,Other,Other settlement visas,Main applicant,Certificate of entitlement to right of abode,Refused,48
27448,2017 Q4,Other,Other settlement visas,Main applicant,Certificate of entitlement to right of abode,Withdrawn,9
27449,2017 Q4,Other,Other settlement visas,Main applicant,Certificate of entitlement to right of abode,Lapsed,0
27450,2017 Q4,Other,Other settlement visas,All,Other settlement (indefinite leave),All,253
27451,2017 Q4,Other,Other settlement visas,All,Other settlement (indefinite leave),Resolved,476
27452,2017 Q4,Other,Other settlement visas,All,Other settlement (indefinite leave),Granted,386
27453,2017 Q4,Other,Other settlement visas,All,Other settlement (indefinite leave),Refused,81
27454,2017 Q4,Other,Other settlement visas,All,Other settlement (indefinite leave),Withdrawn,9
27455,2017 Q4,Other,Other settlement visas,All,Other settlement (indefinite leave),Lapsed,0

Consider `*Total` to be `All` and rename `Applications` to `Value`

In [4]:
tidy.replace(r'^\*Total', 'All', regex=True, inplace=True)
tidy.rename(columns={'Applications': 'Value'}, inplace=True)
tidy

,Quarter,Type,Broad category,Applicant type,Category,Resolution,Value
0,2005 Q1,All,All,All,All,All,549934
1,2005 Q1,All,All,All,All,Resolved,544208
2,2005 Q1,All,All,All,All,Granted,428907
3,2005 Q1,All,All,All,All,Refused,108812
4,2005 Q1,All,All,All,All,Withdrawn,4888
5,2005 Q1,All,All,All,All,Lapsed,1601
6,2005 Q1,All (excl. Visitors and transit),All,All,All (excluding visitors and transit),All,158424
7,2005 Q1,All (excl. Visitors and transit),All,All,All (excluding visitors and transit),Resolved,157409
8,2005 Q1,All (excl. Visitors and transit),All,All,All (excluding visitors and transit),Granted,121258
9,2005 Q1,All (excl. Visitors and transit),All,All,All (excluding visitors and transit),Refused,33704
10,2005 Q1,All (excl. Visitors and transit),All,All,All (excluding visitors and transit),Withdrawn,2111
11,2005 Q1,All (excl. Visitors and transit),All,All,All (excluding visitors and transit),Lapsed,336
12,2005 Q1,Work,All,All,All,All,72805
13,2005 Q1,Work,All,All,All,Resolved,70631
14,2005 Q1,Work,All,All,All,Granted,60550
15,2005 Q1,Work,All,All,All,Refused,8745
16,2005 Q1,Work,All,All,All,Withdrawn,1220
17,2005 Q1,Work,All,All,All,Lapsed,116
18,2005 Q1,Study,All,All,All (including Short-term study),All,47737
19,2005 Q1,Study,All,All,All (including Short-term study),Resolved,49921
20,2005 Q1,Study,All,All,All (including Short-term study),Granted,29018
21,2005 Q1,Study,All,All,All (including Short-term study),Refused,20236
22,2005 Q1,Study,All,All,All (including Short-term study),Withdrawn,527
23,2005 Q1,Study,All,All,All (including Short-term study),Lapsed,140
24,2005 Q1,Study,All,All,All (excluding Short-term study),All,44870
25,2005 Q1,Study,All,All,All (excluding Short-term study),Resolved,47049
26,2005 Q1,Study,All,All,All (excluding Short-term study),Granted,26335
27,2005 Q1,Study,All,All,All (excluding Short-term study),Refused,20068
28,2005 Q1,Study,All,All,All (excluding Short-term study),Withdrawn,517
29,2005 Q1,Study,All,All,All (excluding Short-term study),Lapsed,129
...,...,...,...,...,...,...,...
27426,2017 Q4,Other,Other temporary visas,Dependant,Visitors,All,34005
27427,2017 Q4,Other,Other temporary visas,Dependant,Visitors,Resolved,34154
27428,2017 Q4,Other,Other temporary visas,Dependant,Visitors,Granted,29480
27429,2017 Q4,Other,Other temporary visas,Dependant,Visitors,Refused,4569
27430,2017 Q4,Other,Other temporary visas,Dependant,Visitors,Withdrawn,103
27431,2017 Q4,Other,Other temporary visas,Dependant,Visitors,Lapsed,2
27432,2017 Q4,Other,Other temporary visas,All,Transit,All,4309
27433,2017 Q4,Other,Other temporary visas,All,Transit,Resolved,4346
27434,2017 Q4,Other,Other temporary visas,All,Transit,Granted,3914
27435,2017 Q4,Other,Other temporary visas,All,Transit,Refused,367
27436,2017 Q4,Other,Other temporary visas,All,Transit,Withdrawn,65
27437,2017 Q4,Other,Other temporary visas,All,Transit,Lapsed,0
27438,2017 Q4,Other,Other temporary visas,All,Other temporary,All,4541
27439,2017 Q4,Other,Other temporary visas,All,Other temporary,Resolved,4455
27440,2017 Q4,Other,Other temporary visas,All,Other temporary,Granted,4318
27441,2017 Q4,Other,Other temporary visas,All,Other temporary,Refused,34
27442,2017 Q4,Other,Other temporary visas,All,Other temporary,Withdrawn,103
27443,2017 Q4,Other,Other temporary visas,All,Other temporary,Lapsed,0
27444,2017 Q4,Other,Other settlement visas,Main applicant,Certificate of entitlement to right of abode,All,353
27445,2017 Q4,Other,Other settlement visas,Main applicant,Certificate of entitlement to right of abode,Resolved,399
27446,2017 Q4,Other,Other settlement visas,Main applicant,Certificate of entitlement to right of abode,Granted,342
27447,2017 Q4,Other,Other settlement visas,Main applicant,Certificate of entitlement to right of abode,Refused,48
27448,2017 Q4,Other,Other settlement visas,Main applicant,Certificate of entitlement to right of abode,Withdrawn,9
27449,2017 Q4,Other,Other settlement visas,Main applicant,Certificate of entitlement to right of abode,Lapsed,0
27450,2017 Q4,Other,Other settlement visas,All,Other settlement (indefinite leave),All,253
27451,2017 Q4,Other,Other settlement visas,All,Other settlement (indefinite leave),Resolved,476
27452,2017 Q4,Other,Other settlement visas,All,Other settlement (indefinite leave),Granted,386
27453,2017 Q4,Other,Other settlement visas,All,Other settlement (indefinite leave),Refused,81
27454,2017 Q4,Other,Other settlement visas,All,Other settlement (indefinite leave),Withdrawn,9
27455,2017 Q4,Other,Other settlement visas,All,Other settlement (indefinite leave),Lapsed,0

Turn the `Quarter` into a standard `Period`, e.g. quarter/2005-Q1

In [5]:
tidy.replace(
    {'Quarter': r'([0-9]{4}) (Q[1-4])'},
    {'Quarter': r'quarter/\1-\2'}, regex=True, inplace=True)
tidy.rename(
    columns={'Quarter': 'Period'}, inplace=True)
tidy

,Period,Type,Broad category,Applicant type,Category,Resolution,Value
0,quarter/2005-Q1,All,All,All,All,All,549934
1,quarter/2005-Q1,All,All,All,All,Resolved,544208
2,quarter/2005-Q1,All,All,All,All,Granted,428907
3,quarter/2005-Q1,All,All,All,All,Refused,108812
4,quarter/2005-Q1,All,All,All,All,Withdrawn,4888
5,quarter/2005-Q1,All,All,All,All,Lapsed,1601
6,quarter/2005-Q1,All (excl. Visitors and transit),All,All,All (excluding visitors and transit),All,158424
7,quarter/2005-Q1,All (excl. Visitors and transit),All,All,All (excluding visitors and transit),Resolved,157409
8,quarter/2005-Q1,All (excl. Visitors and transit),All,All,All (excluding visitors and transit),Granted,121258
9,quarter/2005-Q1,All (excl. Visitors and transit),All,All,All (excluding visitors and transit),Refused,33704
10,quarter/2005-Q1,All (excl. Visitors and transit),All,All,All (excluding visitors and transit),Withdrawn,2111
11,quarter/2005-Q1,All (excl. Visitors and transit),All,All,All (excluding visitors and transit),Lapsed,336
12,quarter/2005-Q1,Work,All,All,All,All,72805
13,quarter/2005-Q1,Work,All,All,All,Resolved,70631
14,quarter/2005-Q1,Work,All,All,All,Granted,60550
15,quarter/2005-Q1,Work,All,All,All,Refused,8745
16,quarter/2005-Q1,Work,All,All,All,Withdrawn,1220
17,quarter/2005-Q1,Work,All,All,All,Lapsed,116
18,quarter/2005-Q1,Study,All,All,All (including Short-term study),All,47737
19,quarter/2005-Q1,Study,All,All,All (including Short-term study),Resolved,49921
20,quarter/2005-Q1,Study,All,All,All (including Short-term study),Granted,29018
21,quarter/2005-Q1,Study,All,All,All (including Short-term study),Refused,20236
22,quarter/2005-Q1,Study,All,All,All (including Short-term study),Withdrawn,527
23,quarter/2005-Q1,Study,All,All,All (including Short-term study),Lapsed,140
24,quarter/2005-Q1,Study,All,All,All (excluding Short-term study),All,44870
25,quarter/2005-Q1,Study,All,All,All (excluding Short-term study),Resolved,47049
26,quarter/2005-Q1,Study,All,All,All (excluding Short-term study),Granted,26335
27,quarter/2005-Q1,Study,All,All,All (excluding Short-term study),Refused,20068
28,quarter/2005-Q1,Study,All,All,All (excluding Short-term study),Withdrawn,517
29,quarter/2005-Q1,Study,All,All,All (excluding Short-term study),Lapsed,129
...,...,...,...,...,...,...,...
27426,quarter/2017-Q4,Other,Other temporary visas,Dependant,Visitors,All,34005
27427,quarter/2017-Q4,Other,Other temporary visas,Dependant,Visitors,Resolved,34154
27428,quarter/2017-Q4,Other,Other temporary visas,Dependant,Visitors,Granted,29480
27429,quarter/2017-Q4,Other,Other temporary visas,Dependant,Visitors,Refused,4569
27430,quarter/2017-Q4,Other,Other temporary visas,Dependant,Visitors,Withdrawn,103
27431,quarter/2017-Q4,Other,Other temporary visas,Dependant,Visitors,Lapsed,2
27432,quarter/2017-Q4,Other,Other temporary visas,All,Transit,All,4309
27433,quarter/2017-Q4,Other,Other temporary visas,All,Transit,Resolved,4346
27434,quarter/2017-Q4,Other,Other temporary visas,All,Transit,Granted,3914
27435,quarter/2017-Q4,Other,Other temporary visas,All,Transit,Refused,367
27436,quarter/2017-Q4,Other,Other temporary visas,All,Transit,Withdrawn,65
27437,quarter/2017-Q4,Other,Other temporary visas,All,Transit,Lapsed,0
27438,quarter/2017-Q4,Other,Other temporary visas,All,Other temporary,All,4541
27439,quarter/2017-Q4,Other,Other temporary visas,All,Other temporary,Resolved,4455
27440,quarter/2017-Q4,Other,Other temporary visas,All,Other temporary,Granted,4318
27441,quarter/2017-Q4,Other,Other temporary visas,All,Other temporary,Refused,34
27442,quarter/2017-Q4,Other,Other temporary visas,All,Other temporary,Withdrawn,103
27443,quarter/2017-Q4,Other,Other temporary visas,All,Other temporary,Lapsed,0
27444,quarter/2017-Q4,Other,Other settlement visas,Main applicant,Certificate of entitlement to right of abode,All,353
27445,quarter/2017-Q4,Other,Other settlement visas,Main applicant,Certificate of entitlement to right of abode,Resolved,399
27446,quarter/2017-Q4,Other,Other settlement visas,Main applicant,Certificate of entitlement to right of abode,Granted,342
27447,quarter/2017-Q4,Other,Other settlement visas,Main applicant,Certificate of entitlement to right of abode,Refused,48
27448,quarter/2017-Q4,Other,Other settlement visas,Main applicant,Certificate of entitlement to right of abode,Withdrawn,9
27449,quarter/2017-Q4,Other,Other settlement visas,Main applicant,Certificate of entitlement to right of abode,Lapsed,0
27450,quarter/2017-Q4,Other,Other settlement visas,All,Other settlement (indefinite leave),All,253
27451,quarter/2017-Q4,Other,Other settlement visas,All,Other settlement (indefinite leave),Resolved,476
27452,quarter/2017-Q4,Other,Other settlement visas,All,Other settlement (indefinite leave),Granted,386
27453,quarter/2017-Q4,Other,Other settlement visas,All,Other settlement (indefinite leave),Refused,81
27454,quarter/2017-Q4,Other,Other settlement visas,All,Other settlement (indefinite leave),Withdrawn,9
27455,quarter/2017-Q4,Other,Other settlement visas,All,Other settlement (indefinite leave),Lapsed,0

Todo: data markers, `z` means `not applicable` and `:` means `not available`

In [6]:
import numpy as np
tidy.drop(tidy.index[~tidy['Value'].map(np.isreal)], inplace=True)
tidy['Value'] = tidy['Value'].astype(int)
tidy

,Period,Type,Broad category,Applicant type,Category,Resolution,Value
0,quarter/2005-Q1,All,All,All,All,All,549934
1,quarter/2005-Q1,All,All,All,All,Resolved,544208
2,quarter/2005-Q1,All,All,All,All,Granted,428907
3,quarter/2005-Q1,All,All,All,All,Refused,108812
4,quarter/2005-Q1,All,All,All,All,Withdrawn,4888
5,quarter/2005-Q1,All,All,All,All,Lapsed,1601
6,quarter/2005-Q1,All (excl. Visitors and transit),All,All,All (excluding visitors and transit),All,158424
7,quarter/2005-Q1,All (excl. Visitors and transit),All,All,All (excluding visitors and transit),Resolved,157409
8,quarter/2005-Q1,All (excl. Visitors and transit),All,All,All (excluding visitors and transit),Granted,121258
9,quarter/2005-Q1,All (excl. Visitors and transit),All,All,All (excluding visitors and transit),Refused,33704
10,quarter/2005-Q1,All (excl. Visitors and transit),All,All,All (excluding visitors and transit),Withdrawn,2111
11,quarter/2005-Q1,All (excl. Visitors and transit),All,All,All (excluding visitors and transit),Lapsed,336
12,quarter/2005-Q1,Work,All,All,All,All,72805
13,quarter/2005-Q1,Work,All,All,All,Resolved,70631
14,quarter/2005-Q1,Work,All,All,All,Granted,60550
15,quarter/2005-Q1,Work,All,All,All,Refused,8745
16,quarter/2005-Q1,Work,All,All,All,Withdrawn,1220
17,quarter/2005-Q1,Work,All,All,All,Lapsed,116
18,quarter/2005-Q1,Study,All,All,All (including Short-term study),All,47737
19,quarter/2005-Q1,Study,All,All,All (including Short-term study),Resolved,49921
20,quarter/2005-Q1,Study,All,All,All (including Short-term study),Granted,29018
21,quarter/2005-Q1,Study,All,All,All (including Short-term study),Refused,20236
22,quarter/2005-Q1,Study,All,All,All (including Short-term study),Withdrawn,527
23,quarter/2005-Q1,Study,All,All,All (including Short-term study),Lapsed,140
24,quarter/2005-Q1,Study,All,All,All (excluding Short-term study),All,44870
25,quarter/2005-Q1,Study,All,All,All (excluding Short-term study),Resolved,47049
26,quarter/2005-Q1,Study,All,All,All (excluding Short-term study),Granted,26335
27,quarter/2005-Q1,Study,All,All,All (excluding Short-term study),Refused,20068
28,quarter/2005-Q1,Study,All,All,All (excluding Short-term study),Withdrawn,517
29,quarter/2005-Q1,Study,All,All,All (excluding Short-term study),Lapsed,129
...,...,...,...,...,...,...,...
27426,quarter/2017-Q4,Other,Other temporary visas,Dependant,Visitors,All,34005
27427,quarter/2017-Q4,Other,Other temporary visas,Dependant,Visitors,Resolved,34154
27428,quarter/2017-Q4,Other,Other temporary visas,Dependant,Visitors,Granted,29480
27429,quarter/2017-Q4,Other,Other temporary visas,Dependant,Visitors,Refused,4569
27430,quarter/2017-Q4,Other,Other temporary visas,Dependant,Visitors,Withdrawn,103
27431,quarter/2017-Q4,Other,Other temporary visas,Dependant,Visitors,Lapsed,2
27432,quarter/2017-Q4,Other,Other temporary visas,All,Transit,All,4309
27433,quarter/2017-Q4,Other,Other temporary visas,All,Transit,Resolved,4346
27434,quarter/2017-Q4,Other,Other temporary visas,All,Transit,Granted,3914
27435,quarter/2017-Q4,Other,Other temporary visas,All,Transit,Refused,367
27436,quarter/2017-Q4,Other,Other temporary visas,All,Transit,Withdrawn,65
27437,quarter/2017-Q4,Other,Other temporary visas,All,Transit,Lapsed,0
27438,quarter/2017-Q4,Other,Other temporary visas,All,Other temporary,All,4541
27439,quarter/2017-Q4,Other,Other temporary visas,All,Other temporary,Resolved,4455
27440,quarter/2017-Q4,Other,Other temporary visas,All,Other temporary,Granted,4318
27441,quarter/2017-Q4,Other,Other temporary visas,All,Other temporary,Refused,34
27442,quarter/2017-Q4,Other,Other temporary visas,All,Other temporary,Withdrawn,103
27443,quarter/2017-Q4,Other,Other temporary visas,All,Other temporary,Lapsed,0
27444,quarter/2017-Q4,Other,Other settlement visas,Main applicant,Certificate of entitlement to right of abode,All,353
27445,quarter/2017-Q4,Other,Other settlement visas,Main applicant,Certificate of entitlement to right of abode,Resolved,399
27446,quarter/2017-Q4,Other,Other settlement visas,Main applicant,Certificate of entitlement to right of abode,Granted,342
27447,quarter/2017-Q4,Other,Other settlement visas,Main applicant,Certificate of entitlement to right of abode,Refused,48
27448,quarter/2017-Q4,Other,Other settlement visas,Main applicant,Certificate of entitlement to right of abode,Withdrawn,9
27449,quarter/2017-Q4,Other,Other settlement visas,Main applicant,Certificate of entitlement to right of abode,Lapsed,0
27450,quarter/2017-Q4,Other,Other settlement visas,All,Other settlement (indefinite leave),All,253
27451,quarter/2017-Q4,Other,Other settlement visas,All,Other settlement (indefinite leave),Resolved,476
27452,quarter/2017-Q4,Other,Other settlement visas,All,Other settlement (indefinite leave),Granted,386
27453,quarter/2017-Q4,Other,Other settlement visas,All,Other settlement (indefinite leave),Refused,81
27454,quarter/2017-Q4,Other,Other settlement visas,All,Other settlement (indefinite leave),Withdrawn,9
27455,quarter/2017-Q4,Other,Other settlement visas,All,Other settlement (indefinite leave),Lapsed,0

Category and broad category need to go into a codelist.

In [7]:
unique_pairs = set(zip(tidy['Broad category'], tidy['Category']))
display(unique_pairs)

# Where category = 'All', the category should be the 'broad category'
unique_pairs = [(broad, cat if cat != 'All' else broad) for (broad, cat) in unique_pairs]

# does the category uniquely determine the broad category?
cat2broad = {}
for (broad, cat) in unique_pairs:
    if cat in cat2broad:
        assert cat2broad[cat] == broad, f'{broad} != {cat2broad[cat]}'
    else:
        cat2broad[cat] = broad
        
# assumption is ok, so work out a codelist

codelist = [('All', 'all', '')]
for broad in sorted(set(cat2broad.values())):
    if broad == 'All':
        continue
    codelist.append((broad, pathify(broad), pathify('All')))
for cat, broad in sorted(cat2broad.items()):
    if cat == 'All' or cat == broad:
        continue
    codelist.append((cat, pathify(cat), pathify(broad)))
    
codelist

{('All', 'All'),
 ('All', 'All (excluding Short-term study)'),
 ('All', 'All (excluding Visitors and Transit)'),
 ('All', 'All (excluding visitors and transit)'),
 ('All', 'All (including Short-term study)'),
 ('Dep. joining or accompanying', 'Joining or accompanying: Child'),
 ('Dep. joining or accompanying', 'Joining or accompanying: Other'),
 ('Dep. joining or accompanying', 'Joining or accompanying: Partner'),
 ('Family', 'Family: Child'),
 ('Family', 'Family: Child (for immediate settlement)'),
 ('Family', 'Family: Child (for settlement)'),
 ('Family', 'Family: Other'),
 ('Family', 'Family: Other (for immediate settlement)'),
 ('Family', 'Family: Other (for settlement)'),
 ('Family', 'Family: Partner'),
 ('Family', 'Family: Partner (for immediate settlement)'),
 ('Family', 'Family: Partner (for settlement)'),
 ('Non-PBS', 'All'),
 ('Non-PBS', 'Domestic workers in Private Households'),
 ('Non-PBS', 'Other permit free employment - Non-PBS'),
 ('Non-PBS', 'Short-term study (previously Student Visitors)'),
 ('Non-PBS', 'UK Ancestry'),
 ('Other', 'All'),
 ('Other', 'Other permit free employment not allocated'),
 ('Other settlement visas', 'Certificate of entitlement to right of abode'),
 ('Other settlement visas', 'Other settlement (indefinite leave)'),
 ('Other temporary visas', 'EEA family permits'),
 ('Other temporary visas', 'Other temporary'),
 ('Other temporary visas', 'Transit'),
 ('Other temporary visas', 'Visitors'),
 ('Tier 1 & pre-PBS equivalent', 'All'),
 ('Tier 1 & pre-PBS equivalent', 'International Graduates Scheme'),
 ('Tier 1 & pre-PBS equivalent', 'Other permit free employment - High value'),
 ('Tier 1 & pre-PBS equivalent',
  'Other permit free employment - Highly skilled'),
 ('Tier 1 & pre-PBS equivalent', 'Tier 1 - Entrepreneurs'),
 ('Tier 1 & pre-PBS equivalent', 'Tier 1 - Exceptional Talent'),
 ('Tier 1 & pre-PBS equivalent', 'Tier 1 - General'),
 ('Tier 1 & pre-PBS equivalent', 'Tier 1 - Graduate entrepreneurs'),
 ('Tier 1 & pre-PBS equivalent', 'Tier 1 - Investors'),
 ('Tier 1 & pre-PBS equivalent', 'Tier 1 - Other'),
 ('Tier 1 & pre-PBS equivalent', 'Tier 1 - Post Study'),
 ('Tier 2 & pre-PBS equivalent', 'All'),
 ('Tier 2 & pre-PBS equivalent', 'Ministers of religion or missionary'),
 ('Tier 2 & pre-PBS equivalent', 'Other permit free employment - skilled'),
 ('Tier 2 & pre-PBS equivalent', 'Tier 2 - Dependant'),
 ('Tier 2 & pre-PBS equivalent', 'Tier 2 - General'),
 ('Tier 2 & pre-PBS equivalent', 'Tier 2 - Intra Company Transfers'),
 ('Tier 2 & pre-PBS equivalent', 'Tier 2 - Intra Company Transfers Long Term'),
 ('Tier 2 & pre-PBS equivalent',
  'Tier 2 - Intra Company Transfers Short Term'),
 ('Tier 2 & pre-PBS equivalent', 'Tier 2 - Ministers of Religion'),
 ('Tier 2 & pre-PBS equivalent', 'Tier 2 - Sportsperson'),
 ('Tier 2 & pre-PBS equivalent', 'Tier 2 Dependant'),
 ('Tier 2 & pre-PBS equivalent', 'Work Permit Holders'),
 ('Tier 4 & pre-PBS equivalent', 'All'),
 ('Tier 4 & pre-PBS equivalent', 'Students'),
 ('Tier 4 & pre-PBS equivalent', 'Tier 4 - Child student'),
 ('Tier 4 & pre-PBS equivalent', 'Tier 4 - General student'),
 ('Tier 4 & pre-PBS equivalent', 'Trainees - doctors & dentists'),
 ('Tier 5 & pre-PBS equivalent', 'All'),
 ('Tier 5 & pre-PBS equivalent', 'Other permit free employment'),
 ('Tier 5 & pre-PBS equivalent', 'Private servants in Diplomatic Households'),
 ('Tier 5 & pre-PBS equivalent', 'Religious workers'),
 ('Tier 5 & pre-PBS equivalent', 'Tier 5 - Charity Workers'),
 ('Tier 5 & pre-PBS equivalent', 'Tier 5 - Creative and Sporting'),
 ('Tier 5 & pre-PBS equivalent', 'Tier 5 - Dependant'),
 ('Tier 5 & pre-PBS equivalent', 'Tier 5 - Government Authorised Exchange'),
 ('Tier 5 & pre-PBS equivalent', 'Tier 5 - International Agreement'),
 ('Tier 5 & pre-PBS equivalent', 'Tier 5 - Religious Workers'),
 ('Tier 5 & pre-PBS equivalent', 'Tier 5 - Youth Mobility'),
 ('Tier 5 & pre-PBS equivalent', 'Tier 5 Dependant'),
 ('Tier 5 & pre-PBS equivalent', 'Working holidaymakers')}

[('All', 'all', ''),
 ('Dep. joining or accompanying', 'dep-joining-or-accompanying', 'all'),
 ('Family', 'family', 'all'),
 ('Non-PBS', 'non-pbs', 'all'),
 ('Other', 'other', 'all'),
 ('Other settlement visas', 'other-settlement-visas', 'all'),
 ('Other temporary visas', 'other-temporary-visas', 'all'),
 ('Tier 1 & pre-PBS equivalent', 'tier-1-pre-pbs-equivalent', 'all'),
 ('Tier 2 & pre-PBS equivalent', 'tier-2-pre-pbs-equivalent', 'all'),
 ('Tier 4 & pre-PBS equivalent', 'tier-4-pre-pbs-equivalent', 'all'),
 ('Tier 5 & pre-PBS equivalent', 'tier-5-pre-pbs-equivalent', 'all'),
 ('All (excluding Short-term study)',
  'all-excluding-short-term-study-',
  'all'),
 ('All (excluding Visitors and Transit)',
  'all-excluding-visitors-and-transit-',
  'all'),
 ('All (excluding visitors and transit)',
  'all-excluding-visitors-and-transit-',
  'all'),
 ('All (including Short-term study)',
  'all-including-short-term-study-',
  'all'),
 ('Certificate of entitlement to right of abode',
  'certificate-of-entitlement-to-right-of-abode',
  'other-settlement-visas'),
 ('Domestic workers in Private Households',
  'domestic-workers-in-private-households',
  'non-pbs'),
 ('EEA family permits', 'eea-family-permits', 'other-temporary-visas'),
 ('Family: Child', 'family-child', 'family'),
 ('Family: Child (for immediate settlement)',
  'family-child-for-immediate-settlement-',
  'family'),
 ('Family: Child (for settlement)', 'family-child-for-settlement-', 'family'),
 ('Family: Other', 'family-other', 'family'),
 ('Family: Other (for immediate settlement)',
  'family-other-for-immediate-settlement-',
  'family'),
 ('Family: Other (for settlement)', 'family-other-for-settlement-', 'family'),
 ('Family: Partner', 'family-partner', 'family'),
 ('Family: Partner (for immediate settlement)',
  'family-partner-for-immediate-settlement-',
  'family'),
 ('Family: Partner (for settlement)',
  'family-partner-for-settlement-',
  'family'),
 ('International Graduates Scheme',
  'international-graduates-scheme',
  'tier-1-pre-pbs-equivalent'),
 ('Joining or accompanying: Child',
  'joining-or-accompanying-child',
  'dep-joining-or-accompanying'),
 ('Joining or accompanying: Other',
  'joining-or-accompanying-other',
  'dep-joining-or-accompanying'),
 ('Joining or accompanying: Partner',
  'joining-or-accompanying-partner',
  'dep-joining-or-accompanying'),
 ('Ministers of religion or missionary',
  'ministers-of-religion-or-missionary',
  'tier-2-pre-pbs-equivalent'),
 ('Other permit free employment',
  'other-permit-free-employment',
  'tier-5-pre-pbs-equivalent'),
 ('Other permit free employment - High value',
  'other-permit-free-employment-high-value',
  'tier-1-pre-pbs-equivalent'),
 ('Other permit free employment - Highly skilled',
  'other-permit-free-employment-highly-skilled',
  'tier-1-pre-pbs-equivalent'),
 ('Other permit free employment - Non-PBS',
  'other-permit-free-employment-non-pbs',
  'non-pbs'),
 ('Other permit free employment - skilled',
  'other-permit-free-employment-skilled',
  'tier-2-pre-pbs-equivalent'),
 ('Other permit free employment not allocated',
  'other-permit-free-employment-not-allocated',
  'other'),
 ('Other settlement (indefinite leave)',
  'other-settlement-indefinite-leave-',
  'other-settlement-visas'),
 ('Other temporary', 'other-temporary', 'other-temporary-visas'),
 ('Private servants in Diplomatic Households',
  'private-servants-in-diplomatic-households',
  'tier-5-pre-pbs-equivalent'),
 ('Religious workers', 'religious-workers', 'tier-5-pre-pbs-equivalent'),
 ('Short-term study (previously Student Visitors)',
  'short-term-study-previously-student-visitors-',
  'non-pbs'),
 ('Students', 'students', 'tier-4-pre-pbs-equivalent'),
 ('Tier 1 - Entrepreneurs',
  'tier-1-entrepreneurs',
  'tier-1-pre-pbs-equivalent'),
 ('Tier 1 - Exceptional Talent',
  'tier-1-exceptional-talent',
  'tier-1-pre-pbs-equivalent'),
 ('Tier 1 - General', 'tier-1-general', 'tier-1-pre-pbs-equivalent'),
 ('Tier 1 - Graduate entrepreneurs',
  'tier-1-graduate-entrepreneurs',
  'tier-1-pre-pbs-equivalent'),
 ('Tier 1 - Investors', 'tier-1-investors', 'tier-1-pre-pbs-equivalent'),
 ('Tier 1 - Other', 'tier-1-other', 'tier-1-pre-pbs-equivalent'),
 ('Tier 1 - Post Study', 'tier-1-post-study', 'tier-1-pre-pbs-equivalent'),
 ('Tier 2 - Dependant', 'tier-2-dependant', 'tier-2-pre-pbs-equivalent'),
 ('Tier 2 - General', 'tier-2-general', 'tier-2-pre-pbs-equivalent'),
 ('Tier 2 - Intra Company Transfers',
  'tier-2-intra-company-transfers',
  'tier-2-pre-pbs-equivalent'),
 ('Tier 2 - Intra Company Transfers Long Term',
  'tier-2-intra-company-transfers-long-term',
  'tier-2-pre-pbs-equivalent'),
 ('Tier 2 - Intra Company Transfers Short Term',
  'tier-2-intra-company-transfers-short-term',
  'tier-2-pre-pbs-equivalent'),
 ('Tier 2 - Ministers of Religion',
  'tier-2-ministers-of-religion',
  'tier-2-pre-pbs-equivalent'),
 ('Tier 2 - Sportsperson', 'tier-2-sportsperson', 'tier-2-pre-pbs-equivalent'),
 ('Tier 2 Dependant', 'tier-2-dependant', 'tier-2-pre-pbs-equivalent'),
 ('Tier 4 - Child student',
  'tier-4-child-student',
  'tier-4-pre-pbs-equivalent'),
 ('Tier 4 - General student',
  'tier-4-general-student',
  'tier-4-pre-pbs-equivalent'),
 ('Tier 5 - Charity Workers',
  'tier-5-charity-workers',
  'tier-5-pre-pbs-equivalent'),
 ('Tier 5 - Creative and Sporting',
  'tier-5-creative-and-sporting',
  'tier-5-pre-pbs-equivalent'),
 ('Tier 5 - Dependant', 'tier-5-dependant', 'tier-5-pre-pbs-equivalent'),
 ('Tier 5 - Government Authorised Exchange',
  'tier-5-government-authorised-exchange',
  'tier-5-pre-pbs-equivalent'),
 ('Tier 5 - International Agreement',
  'tier-5-international-agreement',
  'tier-5-pre-pbs-equivalent'),
 ('Tier 5 - Religious Workers',
  'tier-5-religious-workers',
  'tier-5-pre-pbs-equivalent'),
 ('Tier 5 - Youth Mobility',
  'tier-5-youth-mobility',
  'tier-5-pre-pbs-equivalent'),
 ('Tier 5 Dependant', 'tier-5-dependant', 'tier-5-pre-pbs-equivalent'),
 ('Trainees - doctors & dentists',
  'trainees-doctors-dentists',
  'tier-4-pre-pbs-equivalent'),
 ('Transit', 'transit', 'other-temporary-visas'),
 ('UK Ancestry', 'uk-ancestry', 'non-pbs'),
 ('Visitors', 'visitors', 'other-temporary-visas'),
 ('Work Permit Holders', 'work-permit-holders', 'tier-2-pre-pbs-equivalent'),
 ('Working holidaymakers',
  'working-holidaymakers',
  'tier-5-pre-pbs-equivalent')]

In [8]:
# and write out the codelist and update the tidy table.

tidy['Application category'] = tidy.apply(
    lambda row: row['Category'] if row['Category'] != 'All' else row['Broad category'],
    axis=1)
tidy.drop(columns=['Category', 'Broad category'], inplace=True)

codelist_df = pd.DataFrame.from_records(codelist,
                                       columns=('Label', 'Notation', 'Parent Notation'))
codelist_df['Sort Priority'] = codelist_df.index + 1

from pathlib import Path
out = Path('out')
out.mkdir(exist_ok=True)

codelist_df.to_csv(out / 'ho-applicant-categories.csv', index=False)

# Type -> Application type
tidy.rename(columns={'Type': 'Application type'}, inplace=True)
tidy

,Period,Application type,Applicant type,Resolution,Value,Application category
0,quarter/2005-Q1,All,All,All,549934,All
1,quarter/2005-Q1,All,All,Resolved,544208,All
2,quarter/2005-Q1,All,All,Granted,428907,All
3,quarter/2005-Q1,All,All,Refused,108812,All
4,quarter/2005-Q1,All,All,Withdrawn,4888,All
5,quarter/2005-Q1,All,All,Lapsed,1601,All
6,quarter/2005-Q1,All (excl. Visitors and transit),All,All,158424,All (excluding visitors and transit)
7,quarter/2005-Q1,All (excl. Visitors and transit),All,Resolved,157409,All (excluding visitors and transit)
8,quarter/2005-Q1,All (excl. Visitors and transit),All,Granted,121258,All (excluding visitors and transit)
9,quarter/2005-Q1,All (excl. Visitors and transit),All,Refused,33704,All (excluding visitors and transit)
10,quarter/2005-Q1,All (excl. Visitors and transit),All,Withdrawn,2111,All (excluding visitors and transit)
11,quarter/2005-Q1,All (excl. Visitors and transit),All,Lapsed,336,All (excluding visitors and transit)
12,quarter/2005-Q1,Work,All,All,72805,All
13,quarter/2005-Q1,Work,All,Resolved,70631,All
14,quarter/2005-Q1,Work,All,Granted,60550,All
15,quarter/2005-Q1,Work,All,Refused,8745,All
16,quarter/2005-Q1,Work,All,Withdrawn,1220,All
17,quarter/2005-Q1,Work,All,Lapsed,116,All
18,quarter/2005-Q1,Study,All,All,47737,All (including Short-term study)
19,quarter/2005-Q1,Study,All,Resolved,49921,All (including Short-term study)
20,quarter/2005-Q1,Study,All,Granted,29018,All (including Short-term study)
21,quarter/2005-Q1,Study,All,Refused,20236,All (including Short-term study)
22,quarter/2005-Q1,Study,All,Withdrawn,527,All (including Short-term study)
23,quarter/2005-Q1,Study,All,Lapsed,140,All (including Short-term study)
24,quarter/2005-Q1,Study,All,All,44870,All (excluding Short-term study)
25,quarter/2005-Q1,Study,All,Resolved,47049,All (excluding Short-term study)
26,quarter/2005-Q1,Study,All,Granted,26335,All (excluding Short-term study)
27,quarter/2005-Q1,Study,All,Refused,20068,All (excluding Short-term study)
28,quarter/2005-Q1,Study,All,Withdrawn,517,All (excluding Short-term study)
29,quarter/2005-Q1,Study,All,Lapsed,129,All (excluding Short-term study)
...,...,...,...,...,...,...
27426,quarter/2017-Q4,Other,Dependant,All,34005,Visitors
27427,quarter/2017-Q4,Other,Dependant,Resolved,34154,Visitors
27428,quarter/2017-Q4,Other,Dependant,Granted,29480,Visitors
27429,quarter/2017-Q4,Other,Dependant,Refused,4569,Visitors
27430,quarter/2017-Q4,Other,Dependant,Withdrawn,103,Visitors
27431,quarter/2017-Q4,Other,Dependant,Lapsed,2,Visitors
27432,quarter/2017-Q4,Other,All,All,4309,Transit
27433,quarter/2017-Q4,Other,All,Resolved,4346,Transit
27434,quarter/2017-Q4,Other,All,Granted,3914,Transit
27435,quarter/2017-Q4,Other,All,Refused,367,Transit
27436,quarter/2017-Q4,Other,All,Withdrawn,65,Transit
27437,quarter/2017-Q4,Other,All,Lapsed,0,Transit
27438,quarter/2017-Q4,Other,All,All,4541,Other temporary
27439,quarter/2017-Q4,Other,All,Resolved,4455,Other temporary
27440,quarter/2017-Q4,Other,All,Granted,4318,Other temporary
27441,quarter/2017-Q4,Other,All,Refused,34,Other temporary
27442,quarter/2017-Q4,Other,All,Withdrawn,103,Other temporary
27443,quarter/2017-Q4,Other,All,Lapsed,0,Other temporary
27444,quarter/2017-Q4,Other,Main applicant,All,353,Certificate of entitlement to right of abode
27445,quarter/2017-Q4,Other,Main applicant,Resolved,399,Certificate of entitlement to right of abode
27446,quarter/2017-Q4,Other,Main applicant,Granted,342,Certificate of entitlement to right of abode
27447,quarter/2017-Q4,Other,Main applicant,Refused,48,Certificate of entitlement to right of abode
27448,quarter/2017-Q4,Other,Main applicant,Withdrawn,9,Certificate of entitlement to right of abode
27449,quarter/2017-Q4,Other,Main applicant,Lapsed,0,Certificate of entitlement to right of abode
27450,quarter/2017-Q4,Other,All,All,253,Other settlement (indefinite leave)
27451,quarter/2017-Q4,Other,All,Resolved,476,Other settlement (indefinite leave)
27452,quarter/2017-Q4,Other,All,Granted,386,Other settlement (indefinite leave)
27453,quarter/2017-Q4,Other,All,Refused,81,Other settlement (indefinite leave)
27454,quarter/2017-Q4,Other,All,Withdrawn,9,Other settlement (indefinite leave)
27455,quarter/2017-Q4,Other,All,Lapsed,0,Other settlement (indefinite leave)