Vi_05 â€“ Entry clearance visas granted by country of nationality

In [1]:
from gssutils import *

if is_interactive():
    scraper = Scraper('https://www.gov.uk/government/statistics/immigration-statistics-october-to-december-2017-data-tables')
    sheet = scraper.distribution(
        title='Entry clearance visas granted outside the UK data tables immigration statistics October to December 2017 volume 1'
    ).as_pandas(sheet_name='vi_05')

sheet

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,Table vi_05: Entry clearance visas granted by ...,,,,,,,,,,,,,,
1,Back to contents,,,,,,,,,,,,,,
2,,,,,,,,,,,,,,,
3,Geographical region,Country of nationality,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
4,*Total,*Total,2065424,2228261,2062634,1954605,1995353,2144621,2275417,2228762,2496488,2448563,2468347,2478973,2710350
5,Africa North,*Total Africa North,79138,87720,78194,79734,80331,87854,73838,81000,94654,90545,83540,81839,80532
6,Africa Sub-Saharan,*Total Africa Sub-Saharan,312395,275701,257988,240565,316245,332960,340493,322737,316422,298217,289329,236076,258073
7,America North,*Total America North,42403,44124,44730,47159,46587,49713,47355,45250,49181,48595,48370,45438,46030
8,America Central and South,*Total America Central and South,59612,60907,62848,59685,56535,56986,53613,54492,58077,69800,73813,66161,72351
9,Asia Central,*Total Asia Central,18531,23862,26359,22582,21828,22289,24891,24793,25496,25582,22980,19368,22196
10,Asia East,*Total Asia East,195703,229295,234579,206939,194931,247960,300234,321271,410782,450758,528730,618746,693422
11,Asia South,*Total Asia South,594374,688303,621755,568849,583488,595578,597874,518176,535592,540326,566378,585985,655170
12,Asia South East,*Total Asia South East,121080,128449,134248,134630,137946,149295,163300,168241,186567,195186,199525,220169,244591
13,EU 14,*Total EU 14,47,35,45,43,17,17,17,12,13,4,5,6,22
14,EU 2,*Total EU 2,61675,65284,64,54,45,28,25,18,21,10,2,1,20
15,EU 8,*Total EU 8,69,66,70,50,23,17,14,13,4,7,10,7,9
16,EU Other,*Total EU Other,17779,4199,1504,1322,951,919,751,796,476,250,236,285,38
17,Europe Other,*Total Europe Other,300137,332978,335565,310228,280971,315166,358207,374888,428015,388474,311109,311949,366952
18,Middle East,*Total Middle East,199956,226515,209427,235446,235482,248566,279445,285947,358526,305742,306450,257477,237216
19,Oceania,*Total Oceania,50400,49568,43917,37083,31597,30258,29205,25342,26767,28740,31662,28830,26708
20,Other,*Total Other,12125,11255,11341,10236,8376,7015,6155,5786,5895,6327,6208,6636,7020
21,Asia Central,Afghanistan,3699,5448,6230,4400,4404,4150,4884,3390,2853,3106,2829,2474,2651
22,Europe Other,Albania,11562,10060,8633,6084,5589,5729,4494,4863,4400,4836,5871,6163,6593
23,Africa North,Algeria,10912,12481,12506,13146,11072,9545,11526,12026,15428,15079,16335,15285,15171
24,Oceania,American Samoa,0,0,0,0,0,0,0,0,0,0,0,0,0
25,Europe Other,Andorra,3,7,7,1,3,3,3,2,4,9,9,9,13
26,Africa Sub-Saharan,Angola,3862,3909,4165,3642,2859,2869,3039,3199,3721,3886,3667,2406,2433
27,Other,Anguilla (British),1,0,0,0,1,0,0,0,1,0,0,0,0
28,America Central and South,Antigua and Barbuda,37,45,39,57,28,36,26,23,16,23,19,35,34
29,America Central and South,Argentina,863,914,900,750,762,908,915,907,953,841,1145,1004,728
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,Asia Central,Tajikistan,350,357,344,396,304,377,332,401,379,398,313,347,421
240,Africa Sub-Saharan,Tanzania,7522,7775,7336,6336,5142,4619,4832,4603,4752,5072,4957,4336,4721
241,Asia South East,Thailand,39503,39362,41564,41528,46223,52164,58117,59859,69849,67515,66837,73808,81714
242,Africa Sub-Saharan,Togo,506,505,435,421,366,382,303,336,281,298,279,271,344
243,Oceania,Tokelau,0,0,0,0,0,0,0,0,0,0,0,0,0
244,Oceania,Tonga,26,31,24,17,20,18,18,10,25,31,27,16,13
245,America Central and South,Trinidad and Tobago,1743,1453,1396,1193,895,844,649,479,510,510,493,487,499
246,Africa North,Tunisia,5047,4738,4822,4309,4327,4233,4500,5046,5751,5470,5776,6137,6228
247,Europe Other,Turkey,67652,78698,80016,84020,79739,87817,90316,91079,98181,100327,103151,107317,115281
248,Asia Central,Turkmenistan,1737,1226,1042,1149,1455,1190,1125,1091,896,875,800,699,771
249,Other,Turks and Caicos Islands (British),0,1,1,0,0,0,1,0,0,0,1,0,0
250,Oceania,Tuvalu,1,3,0,0,0,0,1,0,0,0,2,0,0
251,Africa Sub-Saharan,Uganda,7146,7151,7228,7697,6227,5729,5481,5122,5352,5415,5159,4009,4727
252,Europe Other,Ukraine,31247,35316,36313,31970,29061,31631,38142,38037,43284,35039,31626,34272,38553
253,Middle East,United Arab Emirates,18338,22407,19719,23755,21185,24826,28394,29893,40602,8944,8780,7571,6443
254,America North,United States,30886,32814,34192,36411,35896,38495,36830,34910,37803,37349,36622,34792,35358
255,America Central and South,Uruguay,79,78,76,93,66,98,83,67,61,78,108,83,82
256,Asia Central,Uzbekistan,2594,2556,3034,2652,2029,1892,2207,2534,3010,2731,2583,2514,2825
257,Oceania,Vanuatu,1,2,5,5,0,2,3,0,2,3,3,3,6
258,Europe Other,Vatican City,9,8,12,7,10,6,8,10,4,3,1,0,0
259,America Central and South,Venezuela,704,953,1325,1293,4198,3340,2081,1575,1217,9352,10420,6129,5443
260,Asia South East,Vietnam,6096,6745,7657,8315,7856,9916,11984,12009,13031,13571,15395,15715,17456
261,Other,Virgin Islands (British),0,0,0,0,0,0,0,1,0,0,0,1,0
262,America North,Virgin Islands (US),0,0,0,0,0,0,0,0,0,0,0,0,0
263,Oceania,Wallis and Futuna,0,0,0,0,0,0,0,0,0,0,0,0,0
264,Africa North,Western Sahara,0,0,0,0,0,0,0,0,0,0,0,0,0
265,Middle East,Yemen,3611,3903,3439,2912,2468,2462,1983,2106,2538,2379,1081,1056,1909
266,Africa Sub-Saharan,Zambia,5404,5469,5329,4606,3825,3764,3723,3877,3980,3675,3495,3269,3628
267,Africa Sub-Saharan,Zimbabwe,18915,14847,12329,9693,7137,8015,8064,7390,7214,7749,8021,7402,7925
268,,,,,,,,,,,,,,,

In [2]:
sheet.rename(columns=sheet.iloc[3], inplace=True)
sheet.drop([0,1,2,3], inplace=True)
sheet.drop(sheet.index[sheet['Geographical region'] == ''], inplace=True)
sheet

,Geographical region,Country of nationality,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
4,*Total,*Total,2065424,2228261,2062634,1954605,1995353,2144621,2275417,2228762,2496488,2448563,2468347,2478973,2710350
5,Africa North,*Total Africa North,79138,87720,78194,79734,80331,87854,73838,81000,94654,90545,83540,81839,80532
6,Africa Sub-Saharan,*Total Africa Sub-Saharan,312395,275701,257988,240565,316245,332960,340493,322737,316422,298217,289329,236076,258073
7,America North,*Total America North,42403,44124,44730,47159,46587,49713,47355,45250,49181,48595,48370,45438,46030
8,America Central and South,*Total America Central and South,59612,60907,62848,59685,56535,56986,53613,54492,58077,69800,73813,66161,72351
9,Asia Central,*Total Asia Central,18531,23862,26359,22582,21828,22289,24891,24793,25496,25582,22980,19368,22196
10,Asia East,*Total Asia East,195703,229295,234579,206939,194931,247960,300234,321271,410782,450758,528730,618746,693422
11,Asia South,*Total Asia South,594374,688303,621755,568849,583488,595578,597874,518176,535592,540326,566378,585985,655170
12,Asia South East,*Total Asia South East,121080,128449,134248,134630,137946,149295,163300,168241,186567,195186,199525,220169,244591
13,EU 14,*Total EU 14,47,35,45,43,17,17,17,12,13,4,5,6,22
14,EU 2,*Total EU 2,61675,65284,64,54,45,28,25,18,21,10,2,1,20
15,EU 8,*Total EU 8,69,66,70,50,23,17,14,13,4,7,10,7,9
16,EU Other,*Total EU Other,17779,4199,1504,1322,951,919,751,796,476,250,236,285,38
17,Europe Other,*Total Europe Other,300137,332978,335565,310228,280971,315166,358207,374888,428015,388474,311109,311949,366952
18,Middle East,*Total Middle East,199956,226515,209427,235446,235482,248566,279445,285947,358526,305742,306450,257477,237216
19,Oceania,*Total Oceania,50400,49568,43917,37083,31597,30258,29205,25342,26767,28740,31662,28830,26708
20,Other,*Total Other,12125,11255,11341,10236,8376,7015,6155,5786,5895,6327,6208,6636,7020
21,Asia Central,Afghanistan,3699,5448,6230,4400,4404,4150,4884,3390,2853,3106,2829,2474,2651
22,Europe Other,Albania,11562,10060,8633,6084,5589,5729,4494,4863,4400,4836,5871,6163,6593
23,Africa North,Algeria,10912,12481,12506,13146,11072,9545,11526,12026,15428,15079,16335,15285,15171
24,Oceania,American Samoa,0,0,0,0,0,0,0,0,0,0,0,0,0
25,Europe Other,Andorra,3,7,7,1,3,3,3,2,4,9,9,9,13
26,Africa Sub-Saharan,Angola,3862,3909,4165,3642,2859,2869,3039,3199,3721,3886,3667,2406,2433
27,Other,Anguilla (British),1,0,0,0,1,0,0,0,1,0,0,0,0
28,America Central and South,Antigua and Barbuda,37,45,39,57,28,36,26,23,16,23,19,35,34
29,America Central and South,Argentina,863,914,900,750,762,908,915,907,953,841,1145,1004,728
30,Europe Other,Armenia,1656,1726,1915,1880,1830,2120,2355,2411,2554,2419,2621,2366,3046
31,America Central and South,Aruba,0,0,0,0,0,0,0,0,0,0,0,0,0
32,Oceania,Australia,37375,36311,31464,25971,23555,22035,21294,18218,19057,21146,22444,20980,19134
33,EU 14,Austria,0,3,4,2,0,2,1,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,Asia East,Taiwan,37914,40723,37033,30184,6303,4315,4290,5165,4982,5005,5160,5009,5117
239,Asia Central,Tajikistan,350,357,344,396,304,377,332,401,379,398,313,347,421
240,Africa Sub-Saharan,Tanzania,7522,7775,7336,6336,5142,4619,4832,4603,4752,5072,4957,4336,4721
241,Asia South East,Thailand,39503,39362,41564,41528,46223,52164,58117,59859,69849,67515,66837,73808,81714
242,Africa Sub-Saharan,Togo,506,505,435,421,366,382,303,336,281,298,279,271,344
243,Oceania,Tokelau,0,0,0,0,0,0,0,0,0,0,0,0,0
244,Oceania,Tonga,26,31,24,17,20,18,18,10,25,31,27,16,13
245,America Central and South,Trinidad and Tobago,1743,1453,1396,1193,895,844,649,479,510,510,493,487,499
246,Africa North,Tunisia,5047,4738,4822,4309,4327,4233,4500,5046,5751,5470,5776,6137,6228
247,Europe Other,Turkey,67652,78698,80016,84020,79739,87817,90316,91079,98181,100327,103151,107317,115281
248,Asia Central,Turkmenistan,1737,1226,1042,1149,1455,1190,1125,1091,896,875,800,699,771
249,Other,Turks and Caicos Islands (British),0,1,1,0,0,0,1,0,0,0,1,0,0
250,Oceania,Tuvalu,1,3,0,0,0,0,1,0,0,0,2,0,0
251,Africa Sub-Saharan,Uganda,7146,7151,7228,7697,6227,5729,5481,5122,5352,5415,5159,4009,4727
252,Europe Other,Ukraine,31247,35316,36313,31970,29061,31631,38142,38037,43284,35039,31626,34272,38553
253,Middle East,United Arab Emirates,18338,22407,19719,23755,21185,24826,28394,29893,40602,8944,8780,7571,6443
254,America North,United States,30886,32814,34192,36411,35896,38495,36830,34910,37803,37349,36622,34792,35358
255,America Central and South,Uruguay,79,78,76,93,66,98,83,67,61,78,108,83,82
256,Asia Central,Uzbekistan,2594,2556,3034,2652,2029,1892,2207,2534,3010,2731,2583,2514,2825
257,Oceania,Vanuatu,1,2,5,5,0,2,3,0,2,3,3,3,6
258,Europe Other,Vatican City,9,8,12,7,10,6,8,10,4,3,1,0,0
259,America Central and South,Venezuela,704,953,1325,1293,4198,3340,2081,1575,1217,9352,10420,6129,5443
260,Asia South East,Vietnam,6096,6745,7657,8315,7856,9916,11984,12009,13031,13571,15395,15715,17456
261,Other,Virgin Islands (British),0,0,0,0,0,0,0,1,0,0,0,1,0
262,America North,Virgin Islands (US),0,0,0,0,0,0,0,0,0,0,0,0,0
263,Oceania,Wallis and Futuna,0,0,0,0,0,0,0,0,0,0,0,0,0
264,Africa North,Western Sahara,0,0,0,0,0,0,0,0,0,0,0,0,0
265,Middle East,Yemen,3611,3903,3439,2912,2468,2462,1983,2106,2538,2379,1081,1056,1909
266,Africa Sub-Saharan,Zambia,5404,5469,5329,4606,3825,3764,3723,3877,3980,3675,3495,3269,3628
267,Africa Sub-Saharan,Zimbabwe,18915,14847,12329,9693,7137,8015,8064,7390,7214,7749,8021,7402,7925

In [3]:
tidy = pd.melt(sheet,
               ['Geographical region','Country of nationality'],
               var_name="Year",
               value_name="Value")

# Clean up *Total strings
tidy.replace({'Country of nationality': {
    r'^\*Total$': 'Rest of world',
    r'^\*Total ': ''
}}, regex=True, inplace=True)

# While nationality and citizenship are different things, can we use the same citizenship details
# derived from IPS?
from io import BytesIO
import requests
import re
citizenship_csv = 'https://raw.githubusercontent.com/ONS-OpenData/ref_migration/master/codelists/citizenship.csv'
citizenship = pd.read_csv(BytesIO(requests.get(citizenship_csv).content))

# See https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/734677/user-guide-immigration-statistics.pdf
# section 19 for more details.

#display(list(set(tidy['Country of nationality'].unique()) - set(citizenship['Label'].unique())))

# The names don't directly match and while some are obvious 1-1, others aren't (e.g. St. Maarten & St. Martin)
# So keep track of countries and areas to create a separate codelist, then drop the areas/regions from this
# tidy table as they're determined by nationality.

countries = set(tidy['Country of nationality'].unique())
parents = {}
for country in countries:
    regions = tidy[tidy['Country of nationality'] == country]['Geographical region'].unique()
    assert len(regions) <= 1
    if len(regions) == 1 and country != regions[0] and regions[0] != '*Total':
        parents[country] = regions[0]

codelist = [('World', 'world', '')]
for region in sorted(set(parents.values())):
    codelist.append((region, pathify(region), pathify('World')))
for country in sorted(countries - set(parents.values())):
    if country in parents:
        codelist.append((country, pathify(country), pathify(parents[country])))
    else:
        codelist.append((country, pathify(country), pathify("World")))

tidy.drop(columns=['Geographical region'], inplace=True)

from pathlib import Path
out = Path('out')
out.mkdir(exist_ok=True)
codelist_df = pd.DataFrame.from_records(codelist,
                                        columns=('Label', 'Notation', 'Parent Notation'))
codelist_df['Sort Priority'] = codelist_df.index + 1
codelist_df['Description'] = ''
if not codelist_df['Notation'].is_unique:
    display(codelist_df[codelist_df.duplicated('Notation', keep='first')])
    assert False, "Notation not unique for countries codelist"
codelist_df.to_csv(out / 'ho-country-of-nationality.csv', index=False)

Todo: data markers, `z` means `not applicable` and `:` means `not available`

In [4]:
import numpy as np
tidy.drop(tidy.index[~tidy['Value'].map(np.isreal)], inplace=True)
tidy['Value'] = tidy['Value'].astype(int)
tidy

                  Country of nationality  Year    Value
0                          Rest of world  2005  2065424
1                           Africa North  2005    79138
2                     Africa Sub-Saharan  2005   312395
3                          America North  2005    42403
4              America Central and South  2005    59612
5                           Asia Central  2005    18531
6                              Asia East  2005   195703
7                             Asia South  2005   594374
8                        Asia South East  2005   121080
9                                  EU 14  2005       47
10                                  EU 2  2005    61675
11                                  EU 8  2005       69
12                              EU Other  2005    17779
13                          Europe Other  2005   300137
14                           Middle East  2005   199956
15                               Oceania  2005    50400
16                                 Other  2005    12125
17                           Afghanistan  2005     3699
18                               Albania  2005    11562
19                               Algeria  2005    10912
20                        American Samoa  2005        0
21                               Andorra  2005        3
22                                Angola  2005     3862
23                    Anguilla (British)  2005        1
24                   Antigua and Barbuda  2005       37
25                             Argentina  2005      863
26                               Armenia  2005     1656
27                                 Aruba  2005        0
28                             Australia  2005    37375
29                               Austria  2005        0
...                                  ...   ...      ...
3402                              Taiwan  2017     5117
3403                          Tajikistan  2017      421
3404                            Tanzania  2017     4721
3405                            Thailand  2017    81714
3406                                Togo  2017      344
3407                             Tokelau  2017        0
3408                               Tonga  2017       13
3409                 Trinidad and Tobago  2017      499
3410                             Tunisia  2017     6228
3411                              Turkey  2017   115281
3412                        Turkmenistan  2017      771
3413  Turks and Caicos Islands (British)  2017        0
3414                              Tuvalu  2017        0
3415                              Uganda  2017     4727
3416                             Ukraine  2017    38553
3417                United Arab Emirates  2017     6443
3418                       United States  2017    35358
3419                             Uruguay  2017       82
3420                          Uzbekistan  2017     2825
3421                             Vanuatu  2017        6
3422                        Vatican City  2017        0
3423                           Venezuela  2017     5443
3424                             Vietnam  2017    17456
3425            Virgin Islands (British)  2017        0
3426                 Virgin Islands (US)  2017        0
3427                   Wallis and Futuna  2017        0
3428                      Western Sahara  2017        0
3429                               Yemen  2017     1909
3430                              Zambia  2017     3628
3431                            Zimbabwe  2017     7925

[3382 rows x 3 columns]