Home Office, Immigration Statistics October to December 2016, Asylum table as 01 q (Asylum volume 1)

In [1]:
%run lib/scrape_govuk.ipynb
metadata = scrape('https://www.gov.uk/government/statistics/immigration-statistics-october-to-december-2017-data-tables')

In [2]:
import pyexcel
from io import BytesIO

ods_files = [f for f in metadata['files']
             if f['type'] == 'ODS' and
             f['title'] == 'Asylum data tables immigration statistics October to December 2017 volume 1 second edition']
assert len(ods_files) == 1, 'Should be exactly one matching ODS file'

ods_url = ods_files[0]['url']
ods_title = ods_files[0]['title']

ods_file = BytesIO(session.get(ods_files[0]['url']).content)

data = pyexcel.get_sheet(file_content=ods_file, file_type='ods', sheet_name='as_01')

In [3]:
df = pd.DataFrame(data.get_array())
df

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,Table as_01: Asylum applications and initial d...,,,,,,,,,,...,,,,,,,,,,
1,Back to contents,,,,,,,,,,...,,,,,,,,,,
2,,,,,,,,,,,...,,,,,,,,,,
3,Year,Geographical region,Country of nationality,Total applications,Applications received at ports,Applications received in-country,Total initial decisions,Total grants,Grants of asylum,Grants of HP,...,3rd country refusals,Non-compliance refusals,Total withdrawals,Non-substantiated withdrawals,Fresh claims,Total pending,Total pending initial \ndecision,Pending initial decision for less than or equa...,Pending initial decision for more than 6 months,Pending further \nreview
4,1984,*Total,*Total,2905,:,:,1431,1084,453,z,...,:,:,175,z,:,:,:,:,:,:
5,1985,*Total,*Total,4389,:,:,2635,2133,574,z,...,:,:,201,z,:,:,:,:,:,:
6,1986,*Total,*Total,4266,:,:,2983,2450,348,z,...,:,:,164,z,:,:,:,:,:,:
7,1987,*Total,*Total,4256,:,:,2432,1797,266,z,...,:,:,200,z,:,:,:,:,:,:
8,1988,*Total,*Total,3998,:,:,2702,2206,628,z,...,:,:,281,z,:,:,:,:,:,:
9,1989,*Total,*Total,11640,:,:,6955,6070,2210,z,...,:,:,350,z,:,:,:,:,:,:
10,1990,*Total,*Total,26205,:,:,4025,3320,920,z,...,:,:,370,z,:,:,:,:,:,:
11,1991,*Total,*Total,44840,:,:,6075,2695,505,z,...,:,:,745,z,:,:,:,:,:,:
12,1992,*Total,*Total,24605,:,:,34900,16440,1115,z,...,:,:,1540,z,:,:,:,:,:,:
13,1993,*Total,*Total,22370,:,:,23405,12715,1590,z,...,:,:,1925,z,:,:,:,:,:,:
14,1994,*Total,*Total,32831,:,:,20988,4487,827,z,...,:,:,2391,z,:,:,:,:,:,:
15,1995,*Total,*Total,43963,:,:,27006,5705,1294,z,...,:,:,2564,z,:,:,:,:,:,:
16,1996,*Total,*Total,29642,:,:,38962,7293,2239,z,...,:,:,2926,z,:,:,:,:,:,:
17,1997,*Total,*Total,32502,:,:,36044,7100,3986,z,...,:,:,2065,z,:,:,:,:,:,:
18,1998,*Total,*Total,46014,:,:,31571,9255,5346,z,...,:,:,1469,z,:,:,:,:,:,:
19,1999,*Total,*Total,71158,:,:,21307,10283,7816,z,...,:,:,732,z,:,:,:,:,:,:
20,2000,*Total,*Total,80315,:,:,97547,21868,10373,z,...,:,:,1721,z,:,:,:,:,:,:
21,2001,*Total,*Total,71027,24867,46160,120949,31641,11449,z,...,775,21408,2399,z,:,:,:,:,:,:
22,2001,Africa North,*Total Africa North,1790,504,1286,4074,479,255,z,...,29,765,108,z,:,:,:,:,:,:
23,2001,Africa Sub-Saharan,*Total Africa Sub-Saharan,19049,5345,13704,28520,10695,4695,z,...,92,4311,436,z,:,:,:,:,:,:
24,2001,America North,*Total America North,14,5,9,12,1,0,z,...,0,2,5,z,:,:,:,:,:,:
25,2001,America Central and South,*Total America Central and South,1299,316,983,2052,180,68,z,...,21,383,134,z,:,:,:,:,:,:
26,2001,Asia Central,*Total Asia Central,8989,4569,4420,12463,9834,2325,z,...,196,1282,110,z,:,:,:,:,:,:
27,2001,Asia East,*Total Asia East,2555,1870,685,4576,183,19,z,...,20,1292,34,z,:,:,:,:,:,:
28,2001,Asia South,*Total Asia South,11431,4078,7353,19722,2518,1739,z,...,134,3850,324,z,:,:,:,:,:,:
29,2001,Asia South East,*Total Asia South East,573,225,348,996,135,50,z,...,2,454,35,z,:,:,:,:,:,:
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4482,2017,Asia South East,Thailand,22,0,22,18,2,2,0,...,0,0,5,1,0,31,28,5,23,3
4483,2017,Africa Sub-Saharan,Togo,4,0,4,3,0,0,0,...,0,0,0,0,0,7,6,4,2,1
4484,2017,Oceania,Tokelau,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4485,2017,Oceania,Tonga,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4486,2017,America Central and South,Trinidad and Tobago,36,5,31,32,12,12,0,...,0,0,4,0,0,21,20,16,4,1
4487,2017,Africa North,Tunisia,33,6,27,29,3,3,0,...,0,0,8,3,0,27,27,14,13,0
4488,2017,Europe Other,Turkey,367,130,237,205,34,28,0,...,7,0,18,8,4,474,453,196,257,21
4489,2017,Asia Central,Turkmenistan,4,0,4,2,0,0,0,...,0,0,1,1,0,4,4,2,2,0
4490,2017,Other,Turks and Caicos Islands (British),0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4491,2017,Oceania,Tuvalu,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4492,2017,Africa Sub-Saharan,Uganda,117,3,114,116,63,60,0,...,1,0,4,1,1,142,118,59,59,24
4493,2017,Europe Other,Ukraine,123,9,114,71,5,3,0,...,2,0,34,2,2,82,73,48,25,9
4494,2017,Middle East,United Arab Emirates,1,0,1,0,0,0,0,...,0,0,2,0,0,4,4,0,4,0
4495,2017,America North,United States,24,15,9,8,0,0,0,...,0,0,12,1,2,14,13,6,7,1
4496,2017,America Central and South,Uruguay,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4497,2017,Asia Central,Uzbekistan,19,1,18,7,2,2,0,...,0,0,6,1,0,20,20,8,12,0
4498,2017,Oceania,Vanuatu,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4499,2017,Europe Other,Vatican City,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4500,2017,America Central and South,Venezuela,19,2,17,16,0,0,0,...,0,0,2,1,1,17,15,12,3,2
4501,2017,Asia South East,Vietnam,1048,30,1018,505,185,130,12,...,17,0,184,122,7,1099,1062,461,601,37
4502,2017,Other,Virgin Islands (British),0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4503,2017,America North,Virgin Islands (US),0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4504,2017,Oceania,Wallis and Futuna,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4505,2017,Africa North,Western Sahara,3,0,3,1,0,0,0,...,1,0,0,0,0,2,2,2,0,0
4506,2017,Middle East,Yemen,121,26,95,90,58,34,22,...,2,0,7,0,0,78,76,51,25,2
4507,2017,Africa Sub-Saharan,Zambia,20,1,19,16,3,3,0,...,0,0,0,0,0,19,18,7,11,1
4508,2017,Africa Sub-Saharan,Zimbabwe,221,15,206,232,25,17,0,...,3,0,11,2,1,236,162,85,77,74
4509,,,,,,,,,,,...,,,,,,,,,,
4510,,,,,,,,,,,...,,,,,,,,,,
4511,,,,,,,,,,,...,,,,,,,,,,

In [4]:
observations = df.iloc[3:, :]
observations.rename(columns= observations.iloc[0], inplace=True)
observations.drop(observations.index[0])

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3027: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

,Year,Geographical region,Country of nationality,Total applications,Applications received at ports,Applications received in-country,Total initial decisions,Total grants,Grants of asylum,Grants of HP,...,3rd country refusals,Non-compliance refusals,Total withdrawals,Non-substantiated withdrawals,Fresh claims,Total pending,Total pending initial decision,Pending initial decision for less than or equal to 6 months,Pending initial decision for more than 6 months,Pending further review
4,1984,*Total,*Total,2905,:,:,1431,1084,453,z,...,:,:,175,z,:,:,:,:,:,:
5,1985,*Total,*Total,4389,:,:,2635,2133,574,z,...,:,:,201,z,:,:,:,:,:,:
6,1986,*Total,*Total,4266,:,:,2983,2450,348,z,...,:,:,164,z,:,:,:,:,:,:
7,1987,*Total,*Total,4256,:,:,2432,1797,266,z,...,:,:,200,z,:,:,:,:,:,:
8,1988,*Total,*Total,3998,:,:,2702,2206,628,z,...,:,:,281,z,:,:,:,:,:,:
9,1989,*Total,*Total,11640,:,:,6955,6070,2210,z,...,:,:,350,z,:,:,:,:,:,:
10,1990,*Total,*Total,26205,:,:,4025,3320,920,z,...,:,:,370,z,:,:,:,:,:,:
11,1991,*Total,*Total,44840,:,:,6075,2695,505,z,...,:,:,745,z,:,:,:,:,:,:
12,1992,*Total,*Total,24605,:,:,34900,16440,1115,z,...,:,:,1540,z,:,:,:,:,:,:
13,1993,*Total,*Total,22370,:,:,23405,12715,1590,z,...,:,:,1925,z,:,:,:,:,:,:
14,1994,*Total,*Total,32831,:,:,20988,4487,827,z,...,:,:,2391,z,:,:,:,:,:,:
15,1995,*Total,*Total,43963,:,:,27006,5705,1294,z,...,:,:,2564,z,:,:,:,:,:,:
16,1996,*Total,*Total,29642,:,:,38962,7293,2239,z,...,:,:,2926,z,:,:,:,:,:,:
17,1997,*Total,*Total,32502,:,:,36044,7100,3986,z,...,:,:,2065,z,:,:,:,:,:,:
18,1998,*Total,*Total,46014,:,:,31571,9255,5346,z,...,:,:,1469,z,:,:,:,:,:,:
19,1999,*Total,*Total,71158,:,:,21307,10283,7816,z,...,:,:,732,z,:,:,:,:,:,:
20,2000,*Total,*Total,80315,:,:,97547,21868,10373,z,...,:,:,1721,z,:,:,:,:,:,:
21,2001,*Total,*Total,71027,24867,46160,120949,31641,11449,z,...,775,21408,2399,z,:,:,:,:,:,:
22,2001,Africa North,*Total Africa North,1790,504,1286,4074,479,255,z,...,29,765,108,z,:,:,:,:,:,:
23,2001,Africa Sub-Saharan,*Total Africa Sub-Saharan,19049,5345,13704,28520,10695,4695,z,...,92,4311,436,z,:,:,:,:,:,:
24,2001,America North,*Total America North,14,5,9,12,1,0,z,...,0,2,5,z,:,:,:,:,:,:
25,2001,America Central and South,*Total America Central and South,1299,316,983,2052,180,68,z,...,21,383,134,z,:,:,:,:,:,:
26,2001,Asia Central,*Total Asia Central,8989,4569,4420,12463,9834,2325,z,...,196,1282,110,z,:,:,:,:,:,:
27,2001,Asia East,*Total Asia East,2555,1870,685,4576,183,19,z,...,20,1292,34,z,:,:,:,:,:,:
28,2001,Asia South,*Total Asia South,11431,4078,7353,19722,2518,1739,z,...,134,3850,324,z,:,:,:,:,:,:
29,2001,Asia South East,*Total Asia South East,573,225,348,996,135,50,z,...,2,454,35,z,:,:,:,:,:,:
30,2001,EU 14,*Total EU 14,41,28,13,17,0,0,z,...,7,1,6,z,:,:,:,:,:,:
31,2001,EU 2,*Total EU 2,1515,230,1285,2348,90,5,z,...,16,1232,103,z,:,:,:,:,:,:
32,2001,EU 8,*Total EU 8,1920,1393,527,3197,64,13,z,...,2,601,304,z,:,:,:,:,:,:
33,2001,EU Other,*Total EU Other,53,14,39,442,45,30,z,...,0,52,25,z,:,:,:,:,:,:
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4482,2017,Asia South East,Thailand,22,0,22,18,2,2,0,...,0,0,5,1,0,31,28,5,23,3
4483,2017,Africa Sub-Saharan,Togo,4,0,4,3,0,0,0,...,0,0,0,0,0,7,6,4,2,1
4484,2017,Oceania,Tokelau,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4485,2017,Oceania,Tonga,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4486,2017,America Central and South,Trinidad and Tobago,36,5,31,32,12,12,0,...,0,0,4,0,0,21,20,16,4,1
4487,2017,Africa North,Tunisia,33,6,27,29,3,3,0,...,0,0,8,3,0,27,27,14,13,0
4488,2017,Europe Other,Turkey,367,130,237,205,34,28,0,...,7,0,18,8,4,474,453,196,257,21
4489,2017,Asia Central,Turkmenistan,4,0,4,2,0,0,0,...,0,0,1,1,0,4,4,2,2,0
4490,2017,Other,Turks and Caicos Islands (British),0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4491,2017,Oceania,Tuvalu,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4492,2017,Africa Sub-Saharan,Uganda,117,3,114,116,63,60,0,...,1,0,4,1,1,142,118,59,59,24
4493,2017,Europe Other,Ukraine,123,9,114,71,5,3,0,...,2,0,34,2,2,82,73,48,25,9
4494,2017,Middle East,United Arab Emirates,1,0,1,0,0,0,0,...,0,0,2,0,0,4,4,0,4,0
4495,2017,America North,United States,24,15,9,8,0,0,0,...,0,0,12,1,2,14,13,6,7,1
4496,2017,America Central and South,Uruguay,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4497,2017,Asia Central,Uzbekistan,19,1,18,7,2,2,0,...,0,0,6,1,0,20,20,8,12,0
4498,2017,Oceania,Vanuatu,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4499,2017,Europe Other,Vatican City,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4500,2017,America Central and South,Venezuela,19,2,17,16,0,0,0,...,0,0,2,1,1,17,15,12,3,2
4501,2017,Asia South East,Vietnam,1048,30,1018,505,185,130,12,...,17,0,184,122,7,1099,1062,461,601,37
4502,2017,Other,Virgin Islands (British),0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4503,2017,America North,Virgin Islands (US),0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4504,2017,Oceania,Wallis and Futuna,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4505,2017,Africa North,Western Sahara,3,0,3,1,0,0,0,...,1,0,0,0,0,2,2,2,0,0
4506,2017,Middle East,Yemen,121,26,95,90,58,34,22,...,2,0,7,0,0,78,76,51,25,2
4507,2017,Africa Sub-Saharan,Zambia,20,1,19,16,3,3,0,...,0,0,0,0,0,19,18,7,11,1
4508,2017,Africa Sub-Saharan,Zimbabwe,221,15,206,232,25,17,0,...,3,0,11,2,1,236,162,85,77,74
4509,,,,,,,,,,,...,,,,,,,,,,
4510,,,,,,,,,,,...,,,,,,,,,,
4511,,,,,,,,,,,...,,,,,,,,,,

In [5]:
new_table = pd.melt(observations,
                       ['Year','Geographical region','Country of nationality'],
                       var_name="Total applications",
                       value_name="Value")

In [6]:
new_table = new_table.drop(new_table.index[0])

In [7]:
new_table.count()

Year                      103706
Geographical region       103706
Country of nationality    103706
Total applications        103706
Value                     103706
dtype: int64

In [8]:
new_table.dropna(inplace=True)

In [9]:
new_table = new_table[new_table['Value'] != '.']

In [10]:
new_table = new_table[new_table['Value'] != 0 ]

In [11]:
new_table = new_table[new_table['Value'] != 'z']

In [12]:
new_table.count()

Year                      48247
Geographical region       48247
Country of nationality    48247
Total applications        48247
Value                     48247
dtype: int64

In [13]:
new_table['Unit'] = 'People'
new_table['Measure Type'] = 'Count'

In [14]:
new_table.dtypes

Year                      object
Geographical region       object
Country of nationality    object
Total applications        object
Value                     object
Unit                      object
Measure Type              object
dtype: object

In [15]:
new_table.head()

,Year,Geographical region,Country of nationality,Total applications,Value,Unit,Measure Type
1,1984,*Total,*Total,Total applications,2905,People,Count
2,1985,*Total,*Total,Total applications,4389,People,Count
3,1986,*Total,*Total,Total applications,4266,People,Count
4,1987,*Total,*Total,Total applications,4256,People,Count
5,1988,*Total,*Total,Total applications,3998,People,Count

In [16]:
# new_table = new_table.drop(new_table.index[0])

In [17]:
new_table['Value'] = pd.to_numeric(new_table['Value'], errors='coerce').fillna(0)

In [18]:
new_table['Value'] = new_table['Value'].astype(int)

In [19]:
new_table['Year'] = new_table['Year'].astype(str)

In [20]:
new_table['Year'] = pd.to_numeric(new_table['Year'], errors='coerce').fillna(0)

In [21]:
new_table['Year'] = new_table['Year'].astype(int)

In [22]:
# new_table.to_csv('rty.csv')

In [23]:
new_table.head()

,Year,Geographical region,Country of nationality,Total applications,Value,Unit,Measure Type
1,1984,*Total,*Total,Total applications,2905,People,Count
2,1985,*Total,*Total,Total applications,4389,People,Count
3,1986,*Total,*Total,Total applications,4266,People,Count
4,1987,*Total,*Total,Total applications,4256,People,Count
5,1988,*Total,*Total,Total applications,3998,People,Count

In [24]:
new_table['Geography'] = new_table['Geographical region'].str.lstrip('*')

In [25]:
new_table['Citizenship'] = new_table['Country of nationality'].str.lstrip('*')

In [26]:
new_table['Asylum Status'] = new_table['Total applications'].str.lstrip('*')

In [27]:
new_table['Asylum Status'] = new_table['Asylum Status'].map(lambda cell:cell.replace('Applications received in-country', 'Applications received in country'))

In [28]:
new_table = new_table[['Geography','Year','Citizenship','Asylum Status','Measure Type','Value','Unit']]

In [29]:
new_table.head()

  Geography  Year Citizenship       Asylum Status Measure Type  Value    Unit
1     Total  1984       Total  Total applications        Count   2905  People
2     Total  1985       Total  Total applications        Count   4389  People
3     Total  1986       Total  Total applications        Count   4266  People
4     Total  1987       Total  Total applications        Count   4256  People
5     Total  1988       Total  Total applications        Count   3998  People

In [30]:
new_table = new_table[new_table['Value'] != 0 ]

In [31]:
destinationFolder = Path('out')
destinationFolder.mkdir(exist_ok=True, parents=True)

new_table.to_csv(destinationFolder / ('as_01.csv'), index = False)

writeMetadata(metadata,
              'Home Office Asylum October to December 2017 volume 1 second edition',
              ods_title, 'Migration')

In [32]:
new_table.count()

Geography        34584
Year             34584
Citizenship      34584
Asylum Status    34584
Measure Type     34584
Value            34584
Unit             34584
dtype: int64

In [33]:
new_table.dtypes

Geography        object
Year              int32
Citizenship      object
Asylum Status    object
Measure Type     object
Value             int32
Unit             object
dtype: object